﻿@import "../_colors.scss";

@mixin make_button($normal_color, $hover_color, $font_color: white) {
    @extend .base-button;
    @include setup_button($normal_color, $hover_color, $font_color);
}

@mixin setup_button($normal_color, $hover_color, $font_color: white) {
    cursor: pointer;
    background-color: $normal_color;
    color: $font_color;

    &:hover {
        background-color: $hover_color;
    }
}

@mixin setup_outline_button($normal_color, $hover_color, $border_width: 2px, $font_color_hover: white) {
    cursor: pointer;
    background-color: transparent;
    border: $border_width solid $normal_color;
    color: $normal_color;

    &:hover {
        background-color: $hover_color;
        border-color: $hover_color;
        color: $font_color_hover;
    }
}
.base-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 14px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    cursor: pointer;;
}

.button-delete {
    @include setup_button(#ed4a4a, #e53f3f);
}

.button-delete-outline {
    @include setup_outline_button(#ed4a4a, #e53f3f);
}

.button-action {
    @include setup_button(#5fa3f5, #5193e2);
}

.button-action-outline {
    @include setup_outline_button(#5fa3f5, #5193e2);
}