﻿@mixin setupScrollbar($width, $trackColor, $thumbColor, $thumbHoverColor) {
    &::-webkit-scrollbar {
        width: $width;
        height: $width;
    }

    &::-webkit-scrollbar-track {
        box-shadow: none;
        background: $trackColor;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        outline: none;
        transition: background ease-in-out .1s;

        &:hover {
            background: $thumbHoverColor;
        }
    }
}

.modern-scrollbar {
    @include setupScrollbar(10px, #d6d9db, #b5bdc1, #989ea1);
}

.modern-menu-scrollbar {
    @include setupScrollbar(6px, #cdd9e0, #aabcca, #9eb0be);
}

.modern-board-list-scrollbar {
    @include setupScrollbar(3px, transparent, #aabcca, #9eb0be);
}
