﻿@{
    Layout = "HomeLayout";
    ViewBag.Title = "Домашняя страница";
}

<div class="webapp-body-content-root">
    <section class="webapp-body-nav-section" id="home-navigation">
        <div class="webapp-nav-group">
            <div class="webapp-nav-group-header">Основное</div>
            <a class="webapp-nav-link disable-link" href="/">
                <i class="icon material-icon">home</i>
                <span>Главная страница</span>
            </a>
            <a class="webapp-nav-link disable-link" asp-controller="Schedule" asp-action="Index">
                <i class="icon material-icon">developer_board</i>
                <span>Расписание</span>
            </a>
        </div>
        <div class="webapp-nav-group">
            <div class="webapp-nav-group-header">Администрирование</div>
            <a class="webapp-nav-link disable-link" asp-controller="Dashboard" asp-action="Index">
                <i class="icon material-icon">insert_chart</i>
                <span>Панель управления</span>
            </a>
        </div>
        <div class="webapp-nav-group">
            <div class="webapp-nav-group-header">Аккаунт</div>
            <a class="webapp-nav-link disable-link" asp-controller="Passport" asp-action="Login">
                <i class="icon material-icon">account_box</i>
                <span>Авторизация</span>
            </a>
            <a class="webapp-nav-link disable-link" asp-controller="Home" asp-action="Privacy">
                <i class="icon material-icon">security</i>
                <span>Конфиденциальность</span>
            </a>
        </div>
    </section>
    <section class="webapp-body-content-section">
        <div class="webapp-size-min-content-fixed">
            <div class="webapp-content-box">
                <div class="home-welcome-box-image"></div>
                <div class="home-welcome-box-content">
                    <div class="home-welcome-box-content-header">Добро пожаловать</div>
                    <div class="home-welcome-box-content-info">
                        <span>Ресурс является демонстрационной версией сайта дипломного проекта</span>
                        <span class="marker">Разработка web-сервиса "расписание в вузе"</span>
                        <div class="home-welcome-box-content-developer">
                            <b>Разработчик:</b>
                            <a target="_blank" href="https://vk.com/id223351289">Медведев А.В.</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="webapp-content-box" style="background: #36a1ed">
                <div class="webapp-content-box-normal-content" style="color: #fff">
                    <div class="webapp-content-box-demo-icon material-icon" style="color: #fff; padding: 20px 0 35px 0">verified_user</div>
                    <div>
                        <b>Для получения доступа к панели управления запростие e-mail и пароль у администратора сайта</b>
                    </div>
                </div>
            </div>
            <div class="webapp-content-box" style="background: #ee9453">
                <div class="webapp-content-box-normal-content" style="color: #fff; text-shadow: 2px 2px 3px rgba(0, 0, 0, .2)">
                    <div>
                        <b>Web-сервис сожержит тестовое расписание и не является достоверным источником расписания вуза</b>
                    </div>
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </section>
</div>
<script type="text/javascript">
        window.navigation.createMenuAutoHandlerForLink(document.getElementById("home-navigation"), "webapp-nav-link", "webapp-nav-link-active");
</script>