﻿@{
    Layout = "HomeLayout";
    ViewBag.Title = "Политика безопасности";
}
<div class="webapp-body-content-root">
    <section class="webapp-body-content-section">
        <div class="webapp-size-normal" style="text-align: justify; line-height: 1.4em;">
            <p>
                <b>Согласие на обработку персональных данных</b>
            </p>
            <p>
                Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года свободно, 
                своей волей и в своём интересе выражаю своё безусловное согласие на обработку моих персональных данных организации 
                "Поволжский казачий институт управления и пищевых технологий (филиал) ФГБОУ ВО "Московский государственный университет технологий и управления имени 
                К.Г. Разумовского (Первый казачий университет)"", зарегистрированным в соответствии с законодательством РФ по адресу:(далее по тексту - Оператор).
                <br/>
                Персональные данные - любая информация, относящаяся к определённому или определяемому на основании такой информации физическому лицу.
            </p>
            <p>
                <span>Настоящее Согласие выдано мною на обработку следующих персональных данных:</span>
                <ol>
                    <li>фамилия, имя, отчество Пользователя;</li>
                    <li>контактный телефон Пользователя;</li>
                    <li>адрес электронной почты (e-mail);</li>
                </ol>
            </p>
            <p>
            Согласие дано Оператору для совершения следующих действий с моими персональными данными с использованием средств автоматизации и/или без использования таких средств: 
            сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, передача третьим лицам для указанных ниже целей, 
            а также осуществление любых иных действий, предусмотренных действующим законодательством РФ как неавтоматизированными, так и автоматизированными способами.
            </p>
            <p>
                <span>Данное согласие даётся Оператору для обработки моих персональных данных в следующих целях:</span>
                <ol>
                    <li>Идентификации Пользователя, зарегистрированного на сайте , для оформления покупки сертификатов, записи на процедуры в режиме он-лайн.</li>
                    <li>Предоставления Пользователю доступа к персонализированным ресурсам Сайта (личный кабинет).</li>
                    <li>Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.</li>
                    <li>Предоставления Пользователю с его согласия, обновлений услуг, специальных предложений, информации о ценах, новостной рассылки и иных сведений.</li>
                    <li>Осуществления рекламной деятельности с согласия Пользователя.</li>
                </ol>
            </p>
            <p>
                Настоящее согласие действует до момента его отзыва путём направления соответствующего уведомления на электронный адрес. 
                В случае отзыва мною согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без моего согласия при наличии оснований, 
                указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 26.06.2006 г.
            </p>
        </div>
    </section>
</div>