<div class="contacts-item">
    <div class="contacts-item_header">{HEADER}</div>
    <div class="contacts-item_people">{PEOPLE}</div>
    <div class="contacts-item_phone">{PHONE}</div>
    <div class="contacts-item_email">{EMAIL}</div>
</div>