<div class="contacts_container_wrap">
    <div class="contacts_container layer_table viewer_shadow page-viewer-entry-animation-play2">
        <div class="layer_row">
            <div class="contacts_list_wrap">
                <div class="contacts_list">
                    {CONTACTS_CONTAINER}
                </div>
            </div>
        </div>
        <div class="layer_row contacts_map">
            <div class="contacts_map_inner">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1037.670717876601!2d37.2683794!3d58.6570568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b032042a96a3b3%3A0x3e110609224be126!2z0YPQuy4g0JbQuNCz0LDRgNC10LLQsCwgMzAsINCS0LXRgdGM0LXQs9C-0L3RgdC6LCDQotCy0LXRgNGB0LrQsNGPINC-0LHQuy4sIDE3MTcyMA!5e0!3m2!1sru!2sru!4v1463235522033" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>