<div class="document-page_wrap">
    <div class="document-close_button" onclick="Page.OpenIndexPage();">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="document-container">
        <div class="document-content" id="document-content">
            <div class="document-header" style="background-image: url({DOCUMENT_IMAGE})">
                <div class="document-header_content">
                    <h1>{DOCUMENT_HEADER}</h1>
                </div>
            </div>
            <div class="document-body" id="document-body">{DOCUMENT_TEXT}</div>
        </div>
    </div>
</div>