<div class="gallery_explorer_photo" onclick="ImageViewer.ViewFullScreen('{PHOTO_IMAGE_FULL}');" style="background-image: url({PHOTO_IMAGE_THUMB})">
    <div class="gallery_explorer_photo_viewbox"></div>
</div>