<div class="layer_table">
    <div class="layer_row">
        <div class="layer_table">
            <div class="layer_cell gallery_category_item" style="background-image: url(/Assets/Resources/Images/Gallery/PreviewCategoryNature.jpg)">
                <div class="gallery_category_item_inside">
                    <div class="gallery_category_header">Природа</div>
                    <div class="gallery_category_navigation">
                        <a class="gallery_category_button" onclick="Gallery.OpenGalleryNature();">Посмотреть</a>
                    </div>
                </div>
            </div>
            <div class="layer_cell gallery_category_item" style="background-image: url(/Assets/Resources/Images/Gallery/PreviewCategoryHunting.jpg)">
                <div class="gallery_category_item_inside">
                    <div class="gallery_category_header">Охота</div>
                    <div class="gallery_category_navigation">
                        <a class="gallery_category_button" onclick="Gallery.OpenGalleryHunting();">Посмотреть</a>
                    </div>
                </div>
            </div>
            <div class="layer_cell gallery_category_item" style="background-image: url(/Assets/Resources/Images/Gallery/PreviewCategoryFishing.jpg)">
                <div class="gallery_category_item_inside">
                    <div class="gallery_category_header">Рыбалка</div>
                    <div class="gallery_category_navigation">
                        <a class="gallery_category_button" onclick="Gallery.OpenGalleryFishing();">Посмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layer_row gallery_back_row">
        <div class="gallery_back" onclick=" Page.OpenIndexPage();">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <a>на главную</a>
        </div>
    </div>
</div>