<div class="layer_table gallery_explorer_table">
    <div class="layer_row gallery_explorer_row">
        <div class="gallery_explorer_photos_wrap" id="gallery-explorer">
            <div class="gallery_explorer_photos_container">
                {PHOTOS}
            </div>
        </div>
    </div>
    <div class="layer_row gallery_back_row">
        <div class="gallery_back" onclick="Gallery.OpenGalleryCategories();">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <a>в галлерею</a>
        </div>
    </div>
</div>