<!--Главная страница-->
<div class="page_separate layer_table page_main">
    <div class="layer_cell_side page_main_side_content">
        <div class="layer_table">

            <!--Заголовок (Компания/расшифровка)-->
            <div class="layer_header layer_row">
                <div class="header_company_name">VROOIR</div>
                <div class="header_company_description">Весьегонское Районное Общество Охотников и Рыболовов</div>
            </div>

            <!--Меню-->
            <div class="layer_body layer_row">
                <div class="fullsize layer_table">
                    <div class="layer_cell navigation">
                        <div class="navigation_item" button_id="news">
                            <a onclick="News.ShowInViewer()">новости</a>
                        </div>
                        <div class="navigation_item" button_id="contacts">
                            <a onclick="Contacts.ShowInViewer()">Контакты</a>
                        </div>
                        <div class="navigation_item" button_id="price_list">
                            <a onclick="PriceList.ShowInViewer()">Цены</a>
                        </div>
                        <div class="navigation_item" button_id="photo_gallery">
                            <a onclick="Gallery.OpenGalleryCategories();">Фотогалеря</a>
                        </div>
                        <div class="navigation_item" button_id="economy">
                            <a onclick="Page.OpenEconomyPage();">О Хозяйстве</a>
                        </div>
                        <div class="navigation_item" button_id="legal">
                            <a onclick="Page.OpenLegalPage();">Нормативно-правовая информация</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Футер-->
            <div class="layer_footer layer_row">
                <div class="layer_table">
                    <div class="layer_cell">
                        <div class="social">
                            <a target="_blank" class="socicon-instagram"></a>
                            <a target="_blank" class="socicon-facebook"></a>
                            <a target="_blank" class="socicon-twitter"></a>
                            <a target="_blank" class="socicon-vkontakte" href="https://new.vk.com/vrooir"></a>
                        </div>
                    </div>
                    <div class="layer_cell" style="text-align: right">
                        <a class="developer" href="https://vk.com/club121744012" target="_blank">Разработчик</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Вьювер-->
    <div class="layer_cell_side page_main_side_fast-page-view" id="fast-page-viewer">
        <div class="page_main-view-copyright">
            <div class="page_main-copyright">VROOIR © {COPYRIGHT_YEAR}</div>
        </div>
    </div>
</div>