<div class="news_mini_item" style="background-image: url({NEWS_IMAGE})">
    <div class="news_mini_content">
        <div class="news_mini_header">{NEWS_HEADER}</div>
        <div class="news_mini_body">
            <div class="news_mini_button-read" onclick="Document.Open('{NEWS_READ_ID}');">читать дальше</div>
        </div>
    </div>
</div>