<div class="pricelist-item">
    <div class="pricelist_item_header">
        <div class="pricelist_item_header_box">
            <a>{HEADER}</a>
        </div>
    </div>
    <div class="pricelist_item_price">
        <a>{PRICE}</a>
        <i class="fa fa-rub" aria-hidden="true"></i>
    </div>
</div>