<div class="pricelist_container viewer_shadow page-viewer-entry-animation-play2">
    <div class="pricelist_header_backface"></div>
    <div class="pricelist_container_inner">
        <div class="pricelist_header">Цены</div>
        <div class="pricelist_list_container">
            {PRICE_LIST_CONTAINER}
        </div>
    </div>
</div>