﻿@import "../_colors.scss";

.additional-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;

    > * {
        margin-right: 0;
        text-align: center;
    }

    > *:nth-child(n+2) {
        margin-left: 10px
    }
}

.link {
    font-size: 14px;
    font-weight: 500;
    color: #009de4;
}

.rights-label {
    font-size: 14px;
    font-weight: 500;
    color: #6a7f9a;
    white-space: nowrap;
}

.webapplication-root-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: $webapp_bgcolor;
}

.webapplication-section {
    display: flex;
    width: 100%;
}

.webapplication-content {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
}

.webapp-body-content-root, .webapp-body-nav-section, .webapp-body-content-section {
    display: flex;
}

.webapp-body-content-root {
    flex-direction: row;
    padding: 40px 20px;
}

.webapp-body-nav-section {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 100px;
    cursor: default;
}

.webapp-body-content-section {
    min-width: 300px;
    max-width: 700px;
    flex-flow: column nowrap;
}

.webapp-nav-group {
    width: 100%;
    margin-bottom: 16px;
}

.webapp-nav-group-header {
    padding: 5px 0 16px 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $navigation_header_font_color;
}

.webapp-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: $navigation_font_color;
    background-color: transparent;
    transition: all ease-in-out .1s;

    &:hover {
        background-color: rgba(62, 77, 88, 0.05);
    }

    .icon {
        font-size: 24px;
        margin-right: 10px;
        color: $navigation_icon_color;
    }
}

$active_link_bg_color: rgba(0, 161, 255, 0.1);
.webapp-nav-link-active {
    color: rgb(63, 163, 230);
    background-color: $active_link_bg_color;

    &:hover {
        background-color: $active_link_bg_color;
    }

    .icon {
        color: rgb(116, 195, 247);
    }
}

.webapp-content-box {
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    margin-bottom: 35px;

    .marked-text {
        color: #4a9be0;
        font-weight: bold;
    }

    a {
        @extend .marked-text;
        text-decoration: underline;
    }
}

.webapp-content-box-normal-content {
    text-align: center;
    font-size: 14px;
    cursor: default;
    padding: 25px;
}

.webapp-content-box-demo-icon {
    font-size: 60px !important;
}

.webapp-content-box-demo-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 135px;
}