﻿@mixin make_limited_size($min_width, $max_width) {
    min-width: $min_width;
    max-width: $max_width;
}

.webapp-size-normal {
    @include make_limited_size(300px, 800px);
}

.webapp-size-min-content-fixed {
    @include make_limited_size(400px, 400px);
}