html, body
{
    width:  100%;
    height: 100%;

    margin:  0;
    padding: 0;
}

body
{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

*
{
    position:   relative;
    box-sizing: border-box;
}

div
{
    display:    block;
}
