.elite-page
{
    background-color: rgba(42, 41, 49, 1);
    font-family: 'Oswald', sans-serif;
}

.elite-layer
{
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    text-align: justify;
}

header
{
    h1
    {
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
    }

    .description
    {
        font-size: 18px;
        color: rgba(255, 255, 255, .6);
        font-weight: lighter;
    }
}

.document-collections
{
    padding-top: 50px;

    .article
    {
        background: rgba(0, 0, 0, .1);
        margin-bottom: 50px;

        h1
        {
            padding: 35px 50px;
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, .1);
            text-align: left;
        }

        img
        {
            width: 100%;
        }

        .content
        {
            padding: 50px;
            font-size: 16px;
            color: rgba(255, 255, 255, .6);
            padding-bottom: 40px;
            font-weight: lighter;

            p {
                padding: 0;
                padding-bottom: 40px;
                margin: 0;
            }
        }
    }
}
