@import 'imports/generic';
@import 'imports/options';
@import 'imports/extensions';

html, body
{
    width:  100%;
    height: 100%;

    margin:  0;
    padding: 0;
}

body
{
    background-color: $web_bg_color;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

@media screen and (max-width: 700px)
{
    body, html, .page
    {
        overflow-x: hidden;
    }
}

*
{
    position:   relative;
    box-sizing: border-box;
}

div
{
     display:    block;
}

/* OTHER */
.image_renderer
{
    background-size:        cover     !important;
    background-position:    center    !important;
    background-repeat:      no-repeat !important;
}

@media screen and (max-width: 700px)
{
    .abstract_section
    {
        padding: 0 25px;
    }
}

// #region DOT PANEL
.dot_decoration_section
{
    position: absolute;
    top: 146px;
    z-index: -1;
    width: 100%;
    height: 450px;

    .dot_panel
    {
        @extend .abstract_section;

        canvas
        {
            width: 100%;
            height: 100%;
        }

        .gradient
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: radial-gradient(50% 50%, transparent 10%, #2a2931 100%);
        }
    }
}
// #endregion
// #region HEADER
//
@media screen and (max-width: 800px)
{
    header
    {
        height: $web_header_height_min !important;

        .header_section
        {
            width: 100% !important;
            padding: 0 !important;
        }

        .logotype
        {
            width: $web_header_height_min !important;
        }

        .media_menu_button
        {
            display: table-cell !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: auto 35% !important;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .navigation, .navigation[smart_visible = "hidden"]
        {
            display: none !important;
        }

        .navigation[smart_visible = "visible"]
        {
            display: table-cell !important;
        }

        .navigation
        {
            position: fixed !important;
            height: auto !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            top: $web_header_height_min;
                z-index: 20000;

            nav
            {
                background-color: #34333B !important;
            }

            .button, .fakebutton
            {
                display: block !important;
                height: auto !important;
                padding: 20px 0 !important;
            }
        }
    }
}

header
{
    @extend .noselect;

    position: fixed;
    left: 0;
    right: 0;
    height: $web_header_height;
    z-index: 100;
    background-color: $web_bg_color;

    .header_section
    {
        @extend .abstract_section;

        display: table;
        min-width: $web_width_min;
        max-width: $web_width_max;
        height: 100%;
        padding: 0 6px;

        .logotype, .navigation, .media_menu_button
        {
            vertical-align: middle;
            display: table-cell;
            height: 100%;
        }

        .logotype
        {
            background-color: rgba(255, 255, 255, .05);
            width: $web_header_height;

            .image
            {
                @extend .image_renderer, .full_size;
                background-size: auto 40% !important;
            }
        }

        .media_menu_button
        {
            vertical-align: middle;
            text-align: center;
            display: none;
            cursor: pointer;
        }

        .navigation
        {
            vertical-align: middle;
            text-align: center;

            nav
            {
                @extend .full_size;
                display: table;
                table-layout: fixed;

                .button, .fakebutton
                {
                    @extend .full_size;
                    width: auto !important;
                    display: table-cell;
                    vertical-align: middle;

                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;

                    transition: all .2s;
                    background-color: transparent;

                    border: none;
                }

                .button
                {
                    cursor: pointer;
                }

                .button:hover
                {
                    background-color: rgba(255, 255, 255, .2);
                }

                .link
                {
                    display: inline-block;
                    height: 35px;
                    line-height: 35px;
                    padding: 0 12px;
                    padding-left: 37px;
                    border-radius: 6px;
                    background-color: #212127;
                    color: white;
                    cursor: pointer;
                    transition: background-color .1s;
                    text-decoration: none;

                    .icon
                    {
                        position: absolute;
                        left: 12px;
                        top: 0;
                        width: 35px;
                        height: 35px;
                        background-size: auto 50% !important;
                        background-repeat: no-repeat !important;
                        background-position: left !important;
                    }
                }

                .link:hover
                {
                    background-color: #e66363;
                }
            }
        }
    }
}
// #endregion
// #region PAGE
.page
{
    z-index: 10;
    cursor: default;
    padding-top: $web_header_height;
}
// #endregion
// #region PAGE HEADER SECTION
.page_header_section
{
    padding: 50px 0;
    background-size: auto 80% !important;
}

.page_header_content
{
    @extend .abstract_section;

    padding: 50px;
    padding-top: 0;
    text-align: center;

    .studio_title
    {
        // font-weight: bold;
        font-size: 50px;
    }

    .line_divider
    {
        width: 100px;
        height: 5px;
        background-color: white;
        border-radius: 10px;
        margin: 20px auto;
    }

    .studio_about
    {
        width: 615px;
        margin: 0 auto;
        font-size: 18px;
    }

    @media screen and (max-width: 615px)
    {
        .studio_about
        {
            width: 90%;
            margin: 0 auto;
            font-size: 18px;
        }
    }

    .downloads_counter
    {
        padding-top: 50px;
        width: auto;

        ._container
        {
            display: inline-block;
            width: auto;

            ._value
            {
                font-family: 'DIN', sans-serif;
                color: #27D0EF;
                font-size: 135px;
            }

            ._title
            {
                top: -30px;
                color: white;
                text-transform: uppercase;
                font-size: 18px;
                text-align: left;
            }
        }
    }
}
// #endregion
// #region PAGE BODY SECTION
.page_body_section
{
    @extend .abstract_section;

    // #region PRODUCTS SUB SECTION
    .products_sub_section
    {
        @extend .abstract_sub_section;

        .products
        {
            text-align: center;
            padding: 10px 0;
            font-size: 0; // Hack for remove inline-block spaces

            .product
            {
                @extend .image_renderer;

                display: inline-block;
                background-color: white;
                box-sizing: border-box;
                font-size: 14px;
                box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .1);

                .link
                {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                }

                .details
                {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    text-align: left;
                    font-weight: bold;
                    padding: 25px;

                    ._category, ._app_name
                    {
                        display: block;
                    }

                    ._app_name
                    {
                        font-size: 18px;
                        text-shadow: 0 2px 0px rgba(0, 0, 0, .4);
                    }

                    ._category
                    {
                        font-size: 14px;
                        text-shadow: 0 1px 0px rgba(0, 0, 0, .2);
                    }
                }
            }

            // Product sizes
            .product, .product[format="normal"]
            {
                width: 320px;
                height: 215px;
                margin: 2px;
            }

            @media screen and (max-width: 720px)
            {
                .product, .product[format="normal"]
                {
                    width: 80vw;
                    height: 50vw;
                    margin: 2px;
                }
            }

            .product[format="large"]
            {
                width: 644px;
                height: 215px;
                margin: 2px;
            }
        }
    }
    // #endregion
    // #region SUPPORT SUB SECTION
    .support_sub_section_wrapper
    {
        @extend .image_renderer;
        padding: 150px 0;
        background-size: 100% auto !important;
    }

    .support_sub_section
    {
        @extend .abstract_sub_section;

        @media screen and (max-width: 720px)
        {
            .report_sended
            {
                padding: 50px;
            }

            form
            {
                width: 100% !important;
            }
        }

        .report_sended
        {
            padding: 150px 50px;
            color: white;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
            display: none;
            margin: 0 auto;
            background-color: #43a762;
        }

        form
        {
            width: 45%;
            margin: 0 auto;
            text-align: right;

            input, textarea, .send_button
            {
                font-family: 'Open Sans Condensed', sans-serif;
            }

            input, textarea
            {
                display: block;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                border: none;
                background-color: rgba(32, 31, 39, 1);

                font-size: 14px;
                color: white;

                margin: 5px 0;
                padding: 8px 12px;

                resize: none;
            }

            textarea
            {
                height: 135px;
            }

            .send_button
            {
                padding: 8px 12px;
                border: none;
                background-color: rgb(85, 164, 230);
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                outline: none;
            }
        }
    }
    // #endregion
}
// #endregion
// #region SOCIAL
.social_sub_section
{
    @extend .abstract_sub_section;
}
// #endregion
// #region FOOTER
footer
{
    padding: 0 25px;
    padding-top: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, .3), transparent);

    @media screen and (max-width: 615px)
    {
        text-align: center !important;

        .footer_section
        {
            display: block !important;
            .footer_cell
            {
                display: block !important;
                padding: 20px 0;
            }

            .copyright
            {
                padding: 0 !important;
            }
        }
    }

    .footer_section
    {
        @extend .abstract_section;
        display: table;
        padding: 50px 0;


        .footer_cell
        {
            display: table-cell;
            vertical-align: bottom;
        }

        .navigation
        {
            .nav_list
            {
                ul, li
                {
                    padding: 0;
                    padding-top: 5px;
                    margin: 0;
                    list-style: none;
                }

                a
                {
                    white-space: nowrap;
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    border-bottom: 2px solid rgba(255, 255, 255, .4);
                }
            }
        }

        .copyright
        {
            width: 100%;
            text-align: center;
            white-space: nowrap;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            padding: 0 15px;
        }

        .social
        {
            font-size: 0;
            white-space: nowrap;

            .social_link
            {
                cursor: pointer;
                text-decoration: none;
                color: white;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                border-radius: 100%;
                margin: 0 5px;
            }

            .twitter
            {
                background-color: #00aced;
            }

            .vk
            {
                background-color: #45668e;
            }
        }
    }
}
// #endregion
