@import "imports/options";
@import "imports/generic";

body
{
    overflow-x: hidden;
    background: #F4F5F7;
}

*
{
    font-family: 'Raleway', sans-serif;
}

.display-head
{
    width: 100%;
    height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & > ._logo
    {
        width: 100%;
        height: 100%;

        background-position: center;
        background-size: auto 22vh;
        background-repeat: no-repeat;
    }

    & > ._icon
    {
        position: absolute;
        bottom: 10%;
        left: 50%;
        margin: auto -25px;
        z-index: 100;

        width: 50px;
        height: 50px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    & > ._content
    {
        position: absolute;
        z-index: 100;

        width: 100%;
        height: 100%;

        & > ._inner_content
        {
            @extend .responsive_container;
            height: 100%;
            margin: 0 auto;
        }
    }
}

nav
{
    position: absolute;
    width: 100%;
    margin-top: 1.2rem;
}

.navbar-brand,
.navbar-list
{
    vertical-align: middle;
}

.navbar-brand
{
    float: left;
    width: 5rem;
    height: 5rem;
}

.navbar-list
{
    float: right;
    padding: none;
    margin: none;
    list-style: none;
    text-decoration: none;
    font-size: 0;

    .nav-item
    {
        display: inline-block;
    }

    .nav-link
    {
        display: block;
        color: #fff;
        font-size: 15px;
        font-weight: normal;
        padding: 1.9375rem 1rem;
        cursor: pointer;
        text-decoration: none;
    }
}

.navbar-float-cleaner
{
    clear: both;
}

.overlay_dotted_grid
{
    position: absolute;
    z-index: 50;

    width: 100%;
    height: 100%;

    background-position: center;
}

.hi_title
{
    position: absolute;
    top: 20%;
    width: 100%;

    color: white;
    font-weight: bold;
    text-transform: uppercase;

    .title,
    .sub_title
    {
        width: 100%;
        text-align: center;
        font-family: AGENCYB !important;
    }

    .title
    {
        font-size: 8vh;
    }

    .sub_title
    {
        line-height: 1vh;
        font-size: 2.75vh;
    }
}

// LOADER
.loader
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background: white;

    .logo
    {
        position: absolute;

        width: 100px;
        height: 100px;

        left: 50%;
        top: 50%;

        margin: -50px;
        border-radius: 100%;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .loading
        {
            text-align: center;
            bottom: calc(-100% - 1vh);
            color: black;
            font-weight: bold;
            font-size: 1.5vh;
            text-transform: uppercase;
        }
    }
}

// BODY
.body
{
    width: 100%;
    background: #F4F5F7;
    color: #424753;
}

.base_section
{
    padding-top: 4.6rem;

    .container
    {
        @extend .responsive_container;
    }
}

.section-title
{
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
}

p
{
    font-weight: 400;
    font-size: .9rem;
    text-align: center;
    padding: 1em;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.about_section
{
    .section_paragraph
    {
        height: 80px;
        line-height: 80px;
        margin-bottom: 2.5rem;
    }
}

.applications-list
{
    width: 100%;
    vertical-align: top;
    font-size: 0;
    text-align: center;
}

.application-item
{
    display: inline-block;
    width: calc(40% - 0.938rem);
    height: 60vh;
    background: rgba(0, 0, 0, 1);
    margin-right:  0.938rem;
    margin-bottom: 0.938rem;
}
.application-item:nth-child(2n)
{
    margin-right: 0;
}
