@import 'imports/generic';
@import 'imports/options';
@import 'imports/extensions';

$project_normal_width: 600px;
$project_header_height: 80px;

.project_header
{
    margin: 0 auto;
    height: $project_header_height;
    background-color: rgba(0, 0, 0, .4)
}

.project_header, .project_section
{
    width: $project_normal_width !important;
    padding: 0 !important;
}

.project-page
{
    padding-top: $project_header_height;
}

.project_section
{
    @extend .abstract_section;
    padding: 20px !important;
    background: rgba(0, 0, 0, .2);
}

.pj-title
{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.pj-content
{

}
