<div id="authorization-screen">
    <div class="auth-table">
        <div class="auth-cell">
            <div class="auth-text">
                The authorization process.<br /> Please, be patient
            </div>
        </div>
    </div>
</div>