<div id="country-select-wrapper">
    <div class="country-select-container">
        <div class="country-select-header">Select your country</div>
        <div class="country-select-content">
            <div id="country-select-items"></div>
        </div>
        <div class="country-select-controls" id="country-select-close">close</div>
    </div>
</div>