<div class="application" id="application-root">
    <div class="clicker-bonus_wrapper">
        <div class="clicker-bonus_container">
            <div id="clicker-bonus-multiplier">
                <div class="_value">1x</div>
                <div class="_progress">
                    <div class="_delimiter"></div>
                    <div class="_line" style="width: 50%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-table">
        <div class="grid-row">
            <div class="grid-cell">
                <div id="app-header" class="field-parent-container">
                    <div class="field game-field">
                        <div class="field-icon" id="country-icon">
                            <div class="_icon_settings" style="background-image: url(/assets/media/icons/settings.png)"></div>
                        </div>
                        <div class="field-value" id="country-money-label"></div>
                    </div>
                    <div class="field game-field">
                        <div class="field-icon" style="background-image: url(/assets/media/icons/atm.png)"></div>
                        <div class="field-value" id="player-money-label"></div>
                        <div class="field-alternate-button button-action_transfer" id="transfer-money-button"></div>
                    </div>
                    <div class="leader-board-button" id="leaderboard-button">
                        <div class="_icon" style="background-image: url(/assets/media/icons/cup.png)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-cell game-grid-cell_body">
                <div id="app-body">
                    <div id="click-area-box">
                        <div id="particles-container"></div>
                        <div class="center-text" id="clicker-title"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>