<div id="leaderboard-root">
    <div class="leaderboard-wrapper">
        <div class="leaderboard-container-wrapper">
            <div class="leaderboard-container">
                <div class="leaderboard-header">
                    <div class="leaderboard-header_title" id="leaderboard-label-title">Доска лидеров</div>
                    <div class="leaderboard-header_close" id="leaderboard-close-button" style="background-image: url(/assets/media/icons/close.png)"></div>
                </div>
                <div class="leaderboard-content">
                    <div id="leaderboard-items-container"></div>
                </div>
            </div>
            <div class="leaderboard-controls" id="leaderboard-controls-container"></div>
        </div>
    </div>
</div>