.error_table,
.error_center
{
    height: 100%;
    width:  100%;
}

.error_table
{
    display: table;
}

.error_center
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color: #fff;

    font-family: bauhaus;
}

.error_code
{
    font-size: 18vw;
    text-shadow: .5vw .5vw rgba(0, 0, 0, .1);
}

.error_message
{
    font-size: 4vw;
    text-shadow: .2vw .2vw rgba(0, 0, 0, .1);
}