.image-viewer_wrap
{
    position            : absolute;
    top                 : 0;
    bottom              : 0;
    left                : 0;
    right               : 0;
    z-index             : 100;
    background          : rgba(0, 0, 0, .9);
    padding             : 60px;
    box-sizing          : border-box;
}

.image-viewer_close-button
{
    position            : absolute;
    top                 : 20px;
    right               : 20px;
    cursor              : pointer;
}

.image-viewer_close-button > i
{
    width               : 60px;
    height              : 60px;
    line-height         : 60px;
    text-align          : center;
    font-size           : 36px;
    color               : #fefefe;
    background          : transparent;
    transition          : background .2s;
    border-radius       : 100%;
}

.image-viewer_close-button > i:hover
{
    background          : rgba(255, 255, 255, .8);
    color               : rgba(0, 0, 0, .8);
}

.image-viewer_image-box
{
    width               : 100%;
    height              : 100%;
    background-size     : contain;
    background-position : center;
    background-repeat   : no-repeat;
}

.image-viewer_full-screen-button
{
    position            : absolute;
    bottom              : 20px;
    right               : 20px;
    cursor              : pointer;
    transition          : all .2s;
    border-radius       : 2px;
    background          : #2196f3;
    color               : #fff;
    font-size           : 14px;
    font-family         : sans-serif, reef;
    padding             : 10px 15px;
    text-transform      : uppercase;
}