.page_separate
{
    width:  100%;
    height: 100%;
}

.layer_table
{
    display: table;
    width: 100%;
    height: 100%;
}

.layer_row
{
    display: table-row;
    width: 100%;
}

.layer_cell
{
    display: table-cell;
    height: 100%;
}


.layer_cell_side
{
    display: table-cell;
    width: 50%;
}