html, body
{
    position: relative;

    width:  100%;
    height: 100%;

    padding: 0;
    margin:  0;

    overflow: hidden;
    font-family: bauhaus;

    cursor: default;
}

*
{
    position: relative;
}

.fullsize
{
    width:  100%;
    height: 100%;
}

.bg
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page
{
    position: relative;

    width:  100%;
    height: 100%;
}

.page_centerer
{
    width: inherit;
    height: inherit;
    display: table;
    table-layout: fixed;
}

.page_centerer > *
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.page_container_wrap > *
{
    display: inline-block;
    text-align: left;
}

.page_container
{
    width: 1100px;
    height: 700px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    overflow: hidden;
}

.page_body
{
    background-color: rgba(0, 0, 0, .5);
}

.page_content
{
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .8), transparent 50%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, .8), transparent 50%);
    background: -ms-linear-gradient(to bottom, rgba(0, 0, 0, .8), transparent 50%);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, .8), transparent 50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), transparent 50%);
}

.viewer_shadow
{
    box-shadow  : -5px 0 30px rgba(0, 0, 0, .8);
}