.wait-local-screen
{
    position    : absolute;
    top         : 0;
    bottom      : 0;
    left        : 0;
    right       : 0;
    background  : rgba(0, 0, 0, .8);
    z-index     : 100;
    font-family : bauhaus, sans-serif, serif;
}

.wait-local-screen_cell,
.wait-local-screen_table
{
    width   : 100%;
    height  : 100%;
}

.wait-local-screen_table
{
    display: table;
}

.wait-local-screen_cell
{
    display         : table-cell;
    vertical-align  : middle;
    text-align      : center;
    color           : #f9f9f9;
    font-size       : 50px;
}