﻿@import "../../main/_colors.scss";

.popup-over-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $over_frame_bg_color;
    z-index: 1000;
    overflow-y: auto;
    padding: 30px;
}

.windowed-popup-controls
{
    padding: 25px 0;
}

.windowed-popup-loader {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $over_frame_bg_color;
    z-index: 2000;
}
