﻿@mixin centeredFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.topbar {
    position: static;
    width: 100%;
    height: 60px;
    background: #F5F5F5;
    z-index: 500;
    box-shadow: rgba(0, 0, 0, .05) 0 2px 10px;
    cursor: default;
}

.topbar-container {
    @include centeredFlex();
    justify-content: space-between;
    height: 100%;
    padding: 0 16px;
}

.topbar-sub-container {
    @include centeredFlex();
    flex-direction: row;
    height: 100%;
}

.topbar-menu-handler {
    @include centeredFlex();
    width: 40px;
    height: 40px;
    margin-right: 25px;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        border-radius: 100%;
        transition: background ease-in-out .1s;
    }

    &:hover {
        &::before {
            background: #e7eaef;
        }
    }

    .icon {
        @include centeredFlex();
        height: 40px;
        width: 40px;
        font-size: 24px;
        color: #b8c5d5;
    }
}

.topbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 40px;

    .svg-logo {
        color: #64a5f3;
        fill: #64a5f3;
    }
}

.topbar-home {
    font-size: 24px;
    width: 34px;
    height: 34px;
    margin-left: 35px;
    border-radius: 100%;
    transition: all ease-in-out .1s;
    color: #64a5f3;
    text-align: center;
    z-index: 5;

    &:before {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        border: 0 solid transparent;
        transition: all ease-in-out .1s;
        border-radius: 100%;
        z-index: -1;
    }

    &:hover {
        color: #76b4ff;
        transform: rotateZ(90deg);

        &:before {
            border-width: 10px;
            border-color: rgba(100, 165, 243, 0.1);
        }
    }
}

.topbar-logo-header {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    > .title {
        color: #64a5f3;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
    }

    > .sub-title {
        color: #b8c5d5;
        font-size: 10px;
        line-height: 10px;
    }
}

.topbar-account {
    @include centeredFlex();
    justify-content: flex-end;

    .account-icon {
        @include centeredFlex();
        height: 34px;
        width: 34px;
        margin: 0 6px 0 14px;
        border-radius: 100px;
        background-color: #bbc6d1;

        .user-tag {
            font-size: 12px;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
        }
    }

    .account-details {
        @include centeredFlex();
        justify-content: flex-end;
        flex-direction: column;

        .user-name {
            font-size: 13px;
            font-weight: bold;
            color: #4f5e71;
        }
    }
}