﻿@model SchedulePageDisplayViewModel
@functions {
public async Task<string> HtmlToRawString(string path)
{
    var htmlContent = await Html.PartialAsync(path);
    var htmlRaw = "";
    using (var writer = new System.IO.StringWriter())
    {
        htmlContent.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);
        htmlRaw = writer.ToString();
    }

    return htmlRaw;
}
}
@{
    Layout = "ScheduleLayout";
    ViewBag.Title = "Расписание";

    var scheduleRecordItemTemplate = await HtmlToRawString("Partials/_ScheduleRecordItem");
    var scheduleRecordListTemplate = await HtmlToRawString("Partials/_ScheduleRecordList");
    var modeItemTemplate = await HtmlToRawString("Partials/_ScheduleModeItem");

    var timestamp = ((DateTimeOffset)DateTime.Now).ToUnixTimeSeconds() * 1000;
}

<div id="schedule-presentation-root" class="schedule-presentation-wrapper">
    <div class="schedule-presentation-section schedule-presentation-header flex_layout_column">
        <div class="flex_row_vcenter">
            <div class="flex_layout_column">
                <div class="schedule-presentation-header-name">Расписание</div>
                <div data-ref="schedule-header-desc" class="schedule-presentation-header-desc"></div>
            </div>
        </div>
    </div>
    <div class="schedule-presentation-section schedule-presentation-content disable-user-select">
        <div id="schedule-presentation-unfinished-view" class="schedule-presentation-unfinished-view" active="no">
            <span message-renderer class="view-message-label">Для отображения расписания необходимо выбрать фильтр</span>
            <div class="view-helper-info flex flex-center">
                <div class="helper-icon material-icon">swap_horiz</div>
                <span>Подсказка: Перемещайте расписание с помощью мыши</span>
            </div>
        </div>
        <div id="schedule-presentation-view-wrapper" class="schedule-presentation-view-wrapper modern-menu-scrollbar">
            <div id="schedule-presentation-view-renderer" class="schedule-presentation-view-content"></div>
            <script type="text/javascript">
                utils.addSimpleTouchScroller(document.getElementById("schedule-presentation-view-wrapper"));
            </script>
        </div>
    </div>
    <div class="schedule-presentation-section">
        <div class="flex_row_vcenter schedule-presentation-filters-wrapper">
            <div class="schedule-presentation-filters-content">
                <div class="schedule-presentation-filter-field">
                    <div class="filter-header">Фильтрация по группе / преподавателю</div>
                    <select id="schedule-filter-entity" class="schedule-filter-entity" data-header="Выберите группу или преподавателя" data-live-search="true">
                        <option data-content="<span class='label label-danger'>Не выбрано</span>"></option>

                        <!-- GROUPS -->
                        <optgroup label="Группы" filter="groups">
                            @foreach (var group in Model.StudentGroups)
                            {
                                <option value="@group.Id">@group.Name</option>
                            }
                        </optgroup>

                        <!-- INSTRUCTORS -->
                        <optgroup label="Преподаватели" filter="instructors">
                            @foreach (var instructor in Model.Instructors)
                            {
                                <option value="@instructor.Id">@instructor.FullName</option>
                            }
                        </optgroup>
                    </select>
                </div>
                <div class="schedule-presentation-filter-field">
                    <div class="filter-header">Метод отображения расписания</div>
                    <select id="schedule-filter-display-mode" class="btn-group" data-toggle="buttons"></select>
                </div>
                <div class="schedule-presentation-filter-field">
                    <div class="filter-header">Тип расписания</div>
                    <select id="schedule-filter-schedule-type-mode" class="btn-group" data-toggle="buttons"></select>
                </div>
                <script type="text/javascript">
                    var groupFilter = $('#schedule-filter-entity');
                    groupFilter.selectpicker();

                    var displayMode = $('#schedule-filter-display-mode');
                    displayMode.selectpicker();

                    var scheduleTypeMode = $('#schedule-filter-schedule-type-mode');
                    scheduleTypeMode.selectpicker();

                    ///bindSelectpickers(groupFilter, instructorFilter);

                    function bindSelectpickers()
                    {
                        var selectPickers = [].slice.call(arguments);
                        var updatePerforming = false;

                        selectPickers.forEach((picker) =>
                        {
                            picker.on("change", (event) =>
                            {
                                if (updatePerforming) return;

                                updatePerforming = true;

                                updateSelectpickers(picker, event.target.value.length > 0);
                                updatePerforming = false;
                            });
                        });

                        function updateSelectpickers(target, status)
                        {
                            var entryStatus = false;
                            for (var index in selectPickers)
                            {
                                entryStatus = status && selectPickers[index] != target;
                                selectPickers[index].prop('disabled', entryStatus);

                                if (entryStatus)
                                    selectPickers[index].val(0);

                                selectPickers[index].selectpicker("refresh");
                            }
                        }
                    }
                </script>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Partials/_AsyncOperationBox")
    <script type="text/javascript">
        var config = schedule.viewer.createConfiguration();

        config.dateNow = @timestamp;
        config.scheduleWeekCountdownDate.month = @Model.ScheduleConfiguration.WeekCountdownDate.Month;
        config.scheduleWeekCountdownDate.date = @Model.ScheduleConfiguration.WeekCountdownDate.Date;
        config.rootElement = $("#schedule-presentation-root");
        config.displayModeElement = $("#schedule-filter-display-mode"); 
        config.scheduleTypeModeElement = $("#schedule-filter-schedule-type-mode"); 
        config.entityFilter = $("#schedule-filter-entity");
        config.displayModeFilter = $("#schedule-filter-display-mode");
        config.noRenderElement = $("#schedule-presentation-unfinished-view");
        config.collectionRendererElement = $("#schedule-presentation-view-renderer");
        config.recordItemTemplate = "@scheduleRecordItemTemplate";
        config.recordListTemplate = "@scheduleRecordListTemplate";
        config.modeItemTemplate = "@modeItemTemplate";

        schedule.viewer.configure(config);
    </script>
</div>