﻿@inject UserManager<User> userManager
@{
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var user = userId != null ? await userManager.FindByIdAsync(userId) : null;
    var hasUser = user != null;

    var userName = user != null ? $"{user.UserFirstName} {user.UserLastName}" : "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/layouts.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/webapp.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/schedule.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/fonts/material-icons.css" asp-append-version="true" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/popper.js/dist/umd/popper.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/scripts/utils.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/scripts/layouts.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/scripts/main.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/scripts/api.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/scripts/schedule.js" asp-append-version="true"></script>
</head>
<body>
    <div id="root" class="webapplication-root-content">
        <div class="webapplication-section webapplication-header-bar">
            <div class="wpp-header-content">
                <div class="wpp-header-directed-section wpp-header-navigation-content">
                    <div class="wpp-header-logo-section">
                        <a asp-controller="Home" asp-action="Index" class="wpp-header-logo-icon disable-link">
                            <img class="wpp-header-logo-icon" src="~/images/logo.png" />
                        </a>
                        <div class="wpp-header-logo-title">Пензенский казачий институт технологий</div>
                    </div>
                </div>
                <div class="wpp-header-directed-section wpp-header-personality-content">
                     
                    <div class="wpp-single-bar-section wpp-single-account">
                        <div class="wpp-single-account-content">
                            @if (hasUser)
                            {
                                <div class="wpp-single-account-icon"></div>
                                <div class="wpp-single-account-user-name">@userName</div>
                                <div class="wpp-single-account-settings-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
                                    </svg>
                                </div>
                            }
                            else
                            {
                                <a href='@Url.Action("Login", "Passport", new { ReturnUrl = Context.Request.Path })' class="wpp-single-account-login-content flex flex-center disable-link">
                                    <div class="wpp-single-account-login-icon flex flex-center material-icon">fingerprint</div>
                                    <div class="wpp-single-account-login-label">Авторизироваться</div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="webapplication-section webapplication-content modern-scrollbar">
            @RenderBody()
        </div>
    </div>
</body>
</html>
