﻿@{
    ViewBag.EditorName = "Управление дисциплинами";
    ViewBag.EditorDesc = "Панель управления дисциплинами";
}

<div class="page">
    <div class="page-header content-box">
        <div class="header-label">@ViewBag.EditorName</div>
        <div class="header-description">@ViewBag.EditorDesc</div>
    </div>
    <div class="activity-box">
        <form id="add_entity_form" onkeypress="return utils.preventEnterKeyPress(event);">
            <div class="activity-box--header" format="auto">
                <div>Добавить дисциплину</div>
            </div>
            <div class="activity-box--content">
                <div class="flex_layout_row">
                    <div class="box-inrow-inputs flex_layout_row">
                        <div class="input-field">
                            <div class="input-field-header">Наименование дисциплины</div>
                            <input type="text" name="Name" placeholder="Проектный практикум" class="input input-modern" required />
                        </div>
                        <div class="input-field" style="flex: 0;">
                            <div class="input-field-header"></div>
                            <button submitter type="button" class="input input-button-modern submitter">Добавить</button>
                        </div>
                    </div>
                </div>
                <div class="messages-container message-box" message-type="error" active="no">Ошибка здесь</div>
            </div>
            @await Html.PartialAsync("Partials/_AsyncOperationBox")
            <script defer>
                window.layouts.async.buildAutoApiHandler(
                    document.getElementById("add_entity_form"),
                    api.catalog.disciplines.add,
                    () => { dashboard.controllers.disciplines.forceUpdate(); }
                );
            </script>
        </form>
    </div>
    <div class="activity-box" id="disciplines-collection">
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
        <div class="activity-box--header" format="auto">Дисциплины</div>
        <div class="activity-box--content collection-drawer">
            <script defer>
                (function () {
                    var rootElement = document.getElementById("disciplines-collection");
                    var controller = dashboard.controllers.builder.buildDisciplinesController(rootElement);
                    controller.forceUpdate();
                })();
            </script>
        </div>
    </div>
</div>
