﻿@{
    ViewBag.EditorName = "Управление специальностями";
    ViewBag.EditorDesc = "Панель управления образовательными направлениями";
}

<div class="page">
    <div class="page-header content-box">
        <div class="header-label">@ViewBag.EditorName</div>
        <div class="header-description">@ViewBag.EditorDesc</div>
    </div>
    <div class="activity-box">
        <form id="add_entity_form" onkeypress="return utils.preventEnterKeyPress(event);">
            <div class="activity-box--header" format="auto">
                <div>Добавить направление</div>
            </div>
            <div class="activity-box--content">
                <div class="flex_layout_row">
                    <div class="box-inrow-inputs flex_layout_row">
                        <div class="input-field">
                            <div class="input-field-header">Наименование специальности</div>
                            <input type="text" name="FullName" placeholder="Прикладная информатика" class="input input-modern" required />
                        </div>
                        <div class="input-field">
                            <div class="input-field-header">Кодовое имя специальности</div>
                            <input type="text" name="CodeName" placeholder="ПИ" class="input input-modern" required />
                        </div>
                        <div class="input-field">
                            <div class="input-field-header">Код специальности</div>
                            <input type="text" name="SpecialtyCode" placeholder="00.00.00" class="input input-modern" required />
                        </div>
                        <div class="input-field" style="flex: 0;">
                            <div class="input-field-header"></div>
                            <button submitter type="button" class="input input-button-modern submitter">Добавить</button>
                        </div>
                    </div>
                </div>
                <div class="messages-container message-box" message-type="error" active="no">Ошибка здесь</div>
            </div>
            @await Html.PartialAsync("Partials/_AsyncOperationBox")
            <script defer>
                window.layouts.async.buildAutoApiHandler(
                    document.getElementById("add_entity_form"),
                    api.catalog.specialties.add,
                    () => { dashboard.controllers.specialties.forceUpdate(); }
                );
            </script>
        </form>
    </div>
    <div class="activity-box" id="speciality-collection">
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
        <div class="activity-box--header" format="auto">Образовательные направления</div>
        <div class="activity-box--content collection-drawer">
            <script defer>
                (function () {
                    var rootElement = document.getElementById("speciality-collection");
                    var controller = dashboard.controllers.builder.buildSpecialtiesController(rootElement);
                    controller.forceUpdate();
                })();
            </script>
        </div>
    </div>
</div>
