﻿<div class="activity-box activity-form-box">
    <form onkeypress="return utils.preventEnterKeyPress(event);">
        <div class="activity-box--header" format="auto">
            <div>Изменить направление</div>
        </div>
        <div class="activity-box--content">
            <div class="flex_layout_row">
                <div class="box-inrow-inputs flex_layout_row">
                    <div class="input-field">
                        <div class="input-field-header">Наименование специальности</div>
                        <input data-ref="FullName" type="text" name="FullName" placeholder="Прикладная информатика" class="input input-modern" required />
                    </div>
                    <div class="input-field">
                        <div class="input-field-header">Кодовое имя специальности</div>
                        <input data-ref="CodeName" type="text" name="CodeName" placeholder="ПИ" class="input input-modern" required />
                    </div>
                    <div class="input-field">
                        <div class="input-field-header">Код специальности</div>
                        <input data-ref="SpecialtyCode" type="text" name="SpecialtyCode" placeholder="00.00.00" class="input input-modern" required />
                    </div>
                    <div class="input-field" style="flex: 0;">
                        <div class="input-field-header"></div>
                        <button control="apply" type="button" class="input input-button-modern submitter">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="messages-container message-box" message-type="error" active="no">Ошибка здесь</div>
        </div>
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
        <input data-ref="Id" type="hidden" name="SpecialtyId" />
    </form>
</div>
