﻿<div class="activity-box activity-form-box">
    <form onkeypress="return utils.preventEnterKeyPress(event);">
        <div class="activity-box--header" format="auto">
            <div>Изменение записи преподавателя</div>
        </div>
        <div class="activity-box--content">
            <div class="flex_layout_row">
                <div class="box-inrow-inputs flex_layout_row">
                    <div class="input-field">
                        <div class="input-field-header">Имя</div>
                        <input data-ref="FirstName" type="text" name="FirstName" placeholder="Имя" class="input input-modern" required />
                    </div>
                    <div class="input-field">
                        <div class="input-field-header">Фамилия</div>
                        <input data-ref="LastName" type="text" name="LastName" placeholder="Фамилия" class="input input-modern" required />
                    </div>
                    <div class="input-field">
                        <div class="input-field-header">Отчество</div>
                        <input data-ref="MiddleName" type="text" name="MiddleName" placeholder="Отчество" class="input input-modern" required />
                    </div>
                    <div class="input-field" style="flex: 0;">
                        <div class="input-field-header"></div>
                        <button control="apply" type="button" class="input input-button-modern submitter">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="messages-container message-box" message-type="error" active="no">Ошибка здесь</div>
        </div>
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
        <input data-ref="Id" type="hidden" name="InstructorId" />
    </form>
</div>
