﻿@model DashboardScheduleEditorDisplayViewModel
@functions {
    public async Task<string> HtmlToRawString(string path)
    {
        var htmlContent = await Html.PartialAsync(path);
        var htmlRaw = "";
        using (var writer = new System.IO.StringWriter())
        {
            htmlContent.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);
            htmlRaw = writer.ToString();
        }

        return htmlRaw;
    }
}
@{
    ViewBag.EditorName = "Редактирование расписания";
    ViewBag.EditorDesc = "Панель редактирование расписания";

    var scheduleRecordItemTemplate = await HtmlToRawString("Partials/_EditorScheduleRecordItem");
    var scheduleRecordListTemplate = await HtmlToRawString("Partials/_EditorScheduleRecordList");
    var scheduleSheetItemTemplate = await HtmlToRawString("Partials/_EditorScheduleSheetItem");
}

<div class="page schedule-page" id="schedule-editor-page">
    <div class="content-box schedule-editor-page-header">
        <div class="page-header">
            <div class="header-label">@ViewBag.EditorName</div>
            <div class="header-description">@ViewBag.EditorDesc</div>
        </div>
        <div class="schedule-editor-publication-control-wrapper">
            <div data-ref="schedule-publication-state" class="schedule-editor-publication-status">Расписание не опубликовано</div>
            <div control="schedule-publication" class="schedule-editor-publication-buttton base-button">Опубликовать</div>
        </div>
    </div>

    <div data-ref="schedule-sheets-manager" class="activity-box schedule-editor-sheets-box disable-user-select">
        <div class="sc-editor-sheet-operate-wrapper sc-editor-sheet-operate-full">
            <div class="sc-editor-sheet-operate-content">
                <div class="sc-editor-sheet-operate-header flex_layout_row flex-center">Недели</div>
                <div id="sheets-collection-wrapper" class="schedule-sheets-list-wrapper modern-board-list-scrollbar">
                    <div data-ref="schedule-sheets-list" class="sc-editor-sheets-list"></div>
                </div>
            </div>
        </div>
        <div class="sc-editor-sheet-operate-wrapper flex flex-center">
            <div class="sc-editor-sheet-operate-content">
                <div class="sc-editor-sheets-operate-controls flex_layout_row flex flex-center">
                    <div control="add" class="sheet-control-button button-action material-icon">add</div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
    </div>
    <div scrollbar="records" data-ref="schedule-records-manager" id="schedule-records-collection" class="disable-user-select schedule-editor-board modern-board-list-scrollbar"></div>
    @await Html.PartialAsync("Partials/_AsyncOperationBox")
</div>
<script defer>
    utils.addSimpleHorizontalMouseWheelScroller(document.getElementById("sheets-collection-wrapper"));
    utils.addSimpleTouchScroller(document.getElementById("schedule-records-collection"));

    var options = new ScheduleEditorSetupOptions(document.getElementById("schedule-editor-page"));
    options.scheduleId = "@Model.Schedule.Id";
    options.rootElement = document.getElementById("schedule-editor-page");
    options.sheetItemTemplate = "@scheduleSheetItemTemplate";
    options.recordItemTemplate = "@scheduleRecordItemTemplate";
    options.recordListTemplate = "@scheduleRecordListTemplate";


    window.dashboard.scheduleEditor.setup(options);
    window.dashboard.scheduleEditor.update();
</script>
