﻿@model DashboardStudentGroupManagerDisplayViewModel
@{
    ViewBag.EditorName = "Управление студенческими группами";
    ViewBag.EditorDesc = "Панель управление студенческими группами";
}

<div class="page">
    <div class="page-header content-box">
        <div class="header-label">@ViewBag.EditorName</div>
        <div class="header-description">@ViewBag.EditorDesc</div>
    </div>
    <div class="activity-box">
        <form id="add_entity_form" onkeypress="return utils.preventEnterKeyPress(event);">
            <div class="activity-box--header" format="auto">
                <div>Добавить студенческую группу</div>
            </div>
            <div class="activity-box--content">
                <div class="flex_layout_column">
                    <div class="box-inrow-inputs flex_layout_row">
                        
                        <!-- SPECIALTIES SELECT -->
                        <div class="input-field">
                            <div class="input-field-header">Специализация</div>
                            <select class="input input-select-modern" name="SpecialtyId" required>
                                @foreach (var entity in Model.Specialties)
                                {
                                <option value="@entity.Id">@entity.CodeName / @entity.SpecialtyCode / @entity.FullName</option>
                                }
                            </select>
                        </div>
                        
                        <!-- QUALIFICATIONS SELECT -->
                        <div class="input-field flex-zero" style="max-width: 150px">
                            <div class="input-field-header">Квалификация</div>
                            <select class="input input-select-modern" name="QualificationId" required>
                                @foreach (var entity in Model.Qualifications)
                                {
                                <option value="@entity.Id">@entity.Name</option>
                                }
                            </select>
                        </div>

                        <!-- EDUCATION METHODS SELECT -->
                        <div class="input-field flex-zero" style="max-width: 150px">
                            <div class="input-field-header">Форма обучения</div>
                            <select class="input input-select-modern" name="EducationMethodId" required>
                                @foreach (var entity in Model.EducationMethods)
                                {
                                <option value="@entity.Id">@entity.Name</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="activity-box-container box-inrow-inputs flex_layout_row">

                        <!-- GROUP NAME -->
                        <div class="input-field">
                            <div class="input-field-header">Наименование группы</div>
                            <input type="text" name="Name" placeholder="14ПИ1с" class="input input-modern" required />
                        </div>

                        <!-- ORGANIZATION DATE -->
                        <div class="input-field">
                            <div class="input-field-header">Дата организации / начало обучения</div>
                            <input class="input-modern" type="date" name="OrganizationDate" required />
                        </div>

                        <div class="input-field" style="flex: 0;">
                            <div class="input-field-header"></div>
                            <button submitter type="button" class="input input-button-modern submitter">Добавить</button>
                        </div>

                    </div>
                </div>
                <div class="messages-container message-box" message-type="error" active="no">Ошибка здесь</div>
            </div>
            @await Html.PartialAsync("Partials/_AsyncOperationBox")
            <script defer>
                window.layouts.async.buildAutoApiHandler(
                    document.getElementById("add_entity_form"),
                    api.catalog.studentGroups.add,
                    () => { dashboard.controllers.studentGroups.forceUpdate(); }
                );
            </script>
        </form>
    </div>
    <div class="activity-box" id="student-groups-collection">
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
        <div class="activity-box--header" format="auto">Группы</div>
        <div class="activity-box--content collection-drawer">
            <script defer>
                (function ()
                {
                    var rootElement = document.getElementById("student-groups-collection");
                    var controller = dashboard.controllers.builder.buildStudentGroupsController(rootElement);
                    controller.forceUpdate();
                })();
            </script>
        </div>
    </div>
</div>
