﻿@model DashboardStudentGroupManagerDisplayViewModel
<div class="activity-box activity-form-box">
    <form onkeypress="return utils.preventEnterKeyPress(event);">
        <div class="activity-box--header" format="auto">
            <div>Изменить студенческую группу</div>
        </div>
        <div class="activity-box--content">
            <div class="flex_layout_column">
                <div class="box-inrow-inputs flex_layout_row">

                    <!-- SPECIALTIES SELECT -->
                    <div class="input-field">
                        <div class="input-field-header">Специализация</div>
                        <select data-ref="SpecialtyId" class="input input-select-modern" name="SpecialtyId" required>
                            @foreach (var entity in Model.Specialties)
                            {
                                <option value="@entity.Id">@entity.CodeName / @entity.SpecialtyCode / @entity.FullName</option>
                            }
                        </select>
                    </div>

                    <!-- QUALIFICATIONS SELECT -->
                    <div class="input-field flex-zero" style="max-width: 150px">
                        <div class="input-field-header">Квалификация</div>
                        <select data-ref="QualificationId" class="input input-select-modern" name="QualificationId" required>
                            @foreach (var entity in Model.Qualifications)
                            {
                                <option value="@entity.Id">@entity.Name</option>
                            }
                        </select>
                    </div>

                    <!-- EDUCATION METHODS SELECT -->
                    <div class="input-field flex-zero" style="max-width: 150px">
                        <div class="input-field-header">Форма обучения</div>
                        <select data-ref="EducationMethodId" class="input input-select-modern" name="EducationMethodId" required>
                            @foreach (var entity in Model.EducationMethods)
                            {
                                <option value="@entity.Id">@entity.Name</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="activity-box-container box-inrow-inputs flex_layout_row">

                    <!-- GROUP NAME -->
                    <div class="input-field">
                        <div class="input-field-header">Наименование группы</div>
                        <input data-ref="Name" type="text" name="Name" placeholder="14ПИ1с" class="input input-modern" required />
                    </div>

                    <!-- ORGANIZATION DATE -->
                    <div class="input-field">
                        <div class="input-field-header">Дата организации / начало обучения</div>
                        <input data-ref="OrganizationDate" class="input-modern" type="date" name="OrganizationDate" required />
                    </div>

                </div>
                <div class="activity-box-container box-inrow-inputs flex_layout_row">
                    
                    <!-- EXPIRATION FLAG -->
                    <div class="input-field flex-zero">
                        <div class="input-field-header"></div>
                        <div class="input input-toggle-modern-wrapper">
                            <input data-ref="Expired" type="checkbox" name="Expired" required />
                            <span class="checkmark">Группа закрыта</span>
                        </div>
                    </div>

                    <div class="input-field">
                        <div class="input-field-header"></div>
                        <button control="apply" submitter type="button" class="input input-button-modern submitter">Сохранить</button>
                    </div>

                </div>
            </div>
            <div class="messages-container message-box" message-type="error" active="no">Ошибка здесь</div>
        </div>
        @await Html.PartialAsync("Partials/_AsyncOperationBox")
        <input data-ref="Id" type="hidden" name="StudentGroupId" />
    </form>
</div>
