﻿@import "../../main/_colors.scss";
@import "../../main/_options.scss";
@import "../_colors.scss";

#root {
    background-color: $schedule_web_bgcolor !important;
}

$schedule_content_padding: 35px;
.schedule-presentation-wrapper {
    display: flex;
    flex-direction: column;
    ///width: 100%;
    height: 100%;
    color: #2a2a2a;
    min-width: 0px;
}

.schedule-presentation-section {
    display: flex;
    width: 100%;
}

.schedule-presentation-header {
    padding: $schedule_content_padding;
}

.schedule-presentation-header-name {
    font-weight: normal;
    font-size: 24px;
}

.schedule-presentation-header-desc {
    font-weight: bold;
    font-size: 18px;
    color: #a9a9a9;
}

.schedule-presentation-content {
    flex: 1;
    overflow: hidden;
}

.schedule-presentation-filters-wrapper {
    width: 100%;
    padding: 26px;
    /*
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .1) 0 0 10px;
    */
}

.schedule-presentation-filters-content {
    display: flex;
    flex-direction: row;
}

.schedule-presentation-filter-field {
    padding-right: 25px;

    .filter-header {
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 10px;
    }
}

.schedule-presentation-unfinished-view {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #e6e6e6;

    .view-message-label {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: #b2b2b2;
    }

    .view-helper-info {
        padding-top: 5px;
        font-size: 14px;
        font-weight: bold;
        color: rgb(56, 65, 85);
        text-transform: uppercase;

        .helper-icon {
            font-weight: normal;
            font-size: 24px;
            margin-right: 10px;
        }
    }
}

.schedule-presentation-view-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding: 0 $schedule_content_padding;
}

.schedule-presentation-view-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.schedule-view-entry-list-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.schedule-view-entry-horizontal-group {
    display: flex;
    flex-direction: row;

    > * {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.schedule-view-list-header {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #679af5
}

.schedule-view-list-content-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 25px;
    overflow-y: auto;
    padding: 10px 15px 25px 10px;
}

.schedule-view-list-content {
    width: 100%;
    flex-direction: column;
}

$schedule_view_entry_padding: 25px;
.schedule-view-entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    padding: $schedule_view_entry_padding;
    box-shadow: rgba(0, 0, 0, .06) 1px 1px 8px 3px;
    margin-bottom: 20px;
    overflow: hidden;
}

.schedule-view-entry-special-content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;

    .short-item {
        max-width: 100px;
    }

    .special-item {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        padding: 3px 8px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        color: #679af5;
        background: rgba(103, 154, 245, 0.2);
        font-weight: bold;
        font-size: 13px;
        margin-right: 4px;

        &:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .special-item-theme-dark-red {
        color: #d94b4b;
        background: rgba(228, 77, 77, 0.2);
    }

    .special-item-theme-red {
        color: #eb485b;
        background: rgba(246, 96, 113, 0.2);
    }

    .special-item-theme-orange {
        color: #ee7038;
        background: rgba(238, 112, 56, 0.2);
    }

    .special-item-theme-purple {
        color: #fff;
        background: #a556e9;
    }

    .special-item-theme-green {
        color: #7cb74f;
        background: rgba(145, 203, 101, 0.2);
    }

    .special-item-icon {
        font-size: 14px;
        font-weight: normal;
        margin-right: 5px;
    }
}

.schedule-view-entry-title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    color: #5b8ee8;
}

.schedule-view-entry-label {
    color: #848b96;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;

    .label-header-in {
        padding-bottom: 2px;
        font-size: 12px;
        text-transform: uppercase;
        color: #bbbbbb;
    }
}