﻿$active_color: #36abff;
$active_color_hover: #32a3f5;
$active_font_color: #fff;
$font_color: #3d4551;
$operation_locker_color: rgba(228, 234, 239, 0.7);
$shadow_color: rgba(207, 214, 220, 0.7);
$super_light_shadow_color: rgba(207, 214, 220, 0.2);
$over_frame_bg_color: rgba(207, 214, 220, 0.85);
$webapp_bgcolor: #f9f9f9;
$navigation_font_color: #5f717e;
$navigation_header_font_color: #97a2a9;
$navigation_icon_color: #8596a3;