<div class="document-page_wrap">
    <div class="document-close_button" onclick="Page.OpenIndexPage();">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="document-container">
        <div class="document-content" id="document-content">
            <div class="document-body" id="document-body">
                <h2 style="margin-top: 0;">Нормативно парвовая информация</h2>
                {DOCUMENT}
            </div>
        </div>
    </div>
</div>