.dh_auth_form
{
    display                 : inline-block;
    border-radius           : 4px;
    overflow                : hidden;
    background-color        : #ffffff;
    font-family             : sans-serif, serif;
    box-shadow              : 0 0 10px rgba(0, 0, 0, .05);
    cursor                  : default;
    max-width               : 700px;
}

.dh_auth_header
{
    display                 : table;
    width                   : 100%;
    background-color        : #ffffff;
    box-shadow              : 0 0 30px rgba(0, 0, 0, .1);
    text-transform          : uppercase;
    font-size               : 18px;
    font-weight             : bold;
    color                   : #37485a;
    z-index                 : 2;
}

.dh_auth_header > a,
.dh_auth_in
{
    vertical-align          : middle;
    display                 : table-cell;
}

.dh_auth_header > a
{
    display                 : inline-block;
    padding                 : 30px;
    box-sizing              : border-box;
    width                   : 100%;
}

.dh_auth_in
{
    width                   : 0%;
    height                  : 100%;
    background-color        : #81c2f7;
    padding                 : 0 30px;
    box-sizing              : border-box;
    color                   : #ffffff;
    font-size               : 14px;
    font-weight             : bold;
    text-transform          : uppercase;
    cursor                  : pointer;
    transition              : all .2s;
    text-align              : center;
}

.dh_auth_in:hover
{
    background-color        : #66b0f7;
}

.dh_help_box
{
    background-color        : #e4eef6;
    padding                 : 30px;
    box-sizing              : border-box;
    color                   : #98adbe;
    font-size               : 14px;
    font-weight             : bold;
    text-transform          : uppercase;
}

.dh_auth_body
{
    /*box-shadow              : 0 0 20px rgba(0, 0, 0, .2);*/
}

.dh_auth_body > input
{
    width                   : 50%;
    padding                 : 20px 30px;
    box-sizing              : border-box;
    border                  : none;
    outline                 : none;
    font-size               : 18px;
    font-family             : sans-serif, serif;
    color                   : #afc4d6;
    font-weight             : bold;
}

.dh_auth_body > input:focus
{
    background-color        : #c5cfd7;
    color                   : #ffffff;
}

.dh_auth_body::-webkit-input-placeholder,
.dh_auth_body:-ms-input-placeholder,
.dh_auth_body::-moz-placeholder
{
    text-transform          : uppercase;
}