.dh_wrap
{
    display                 : inline-block;
    width                   : 1000px;
    height                  : 100%;
    border-radius           : 4px;
    border                  : 1px solid #ffffff;
    background-color        : #ffffff;
    overflow                : hidden;
    box-shadow              : 0 0 10px rgba(0, 0, 0, .05);
    font-family             : sans-serif, serif;
}

.dh_wrap2
{
    display                 : table;
    width                   : 100%;
    height                  : 100%;
}

.dh_header,
.dh_body
{
    display                 : table-row;
}

.dh_header
{
    z-index                 : 10;
}

.dh_body
{
    height                  : 100%;
    z-index                 : 1;
}

.dh_menu
{
    box-shadow              : 0 0 30px 10px rgba(0, 0, 0, .1);
    cursor                  : default;
    z-index                 : 5;
}

.dh_menu > a
{
    display                 : inline-block;
    padding                 : 35px;
    padding-bottom          : 25px;
    text-transform          : uppercase;
    font-size               : 16px;
    font-weight             : bold;
    color                   : #98adbe;
    border-bottom           : 2px solid transparent;
    cursor                  : pointer;
    transition              : all .3s;
    text-shadow             : 0 0 transparent;
    text-decoration         : none;
}

.dh_menu > a:hover
{
    background-color        : rgba(27, 175, 245, 0.5);
    color                   : #ffffff;
    text-shadow             : 1px 1px rgba(0, 0, 0, .1);
}

.dh_menu > a[pointer="selected"]
{
    border-color            : #1baff5;
    color                   : #1baff5;
    background-color        : transparent;
    cursor                  : default;
}

.dh_tab_controls_wrap
{
    display                 : block;
    background-color        : #f7fbfe;
    padding                 : 30px;
    box-sizing              : border-box;
    z-index: 1;
}

.dh_tab_controls_place
{
    display                 : table;
    width                   : 100%;
}

.dh_controls_container,
.dh_controls_info
{
    display                 : table-cell;
    vertical-align          : middle;
}

.dh_controls_info > h4,
.dh_controls_info > h5
{
    padding                 : 0;
    margin                  : 0;
}

.dh_controls_info > h4
{
    color                   : #37485a;
    text-transform          : uppercase;
    font-weight             : bold;
    font-size               : 14px;
}

.dh_controls_info > h5
{
    color                   : #98adbe;
    padding-top             : 4px;
    font-weight             : normal;
    font-size               : 12px;
}

.dh_controls_container
{
    width                   : 0;
    text-align              : right;
}

.dh_body_wrap
{
    display                 : table;
    width                   : 100%;
    height                  : 100%;
}

.dh_controls_wrap,
.dh_body_container
{
    display                 : table-row;
}

.dh_body_container
{
    width                   : 100%;
    height                  : 100%;
}

.dh_body_container_inside
{
    width                   : 100%;
    height                  : 100%;
    overflow-y              : scroll;
}

.dh_body_container_inside_fix
{
    width                   : 100%;
    height                  : 100%;
    padding                 : 30px;
    box-sizing              : border-box;
}

.dh_body_container_scrollable
{
    width                   : 100%;
    height                  : 100%;
}


.dh_body_container_scrollable .ss-scroll
{
    background              : #98adbe !important;
}

.dh_button
{
    display                 : inline-block;
    width                   : 34px;
    height                  : 34px;
    border-radius           : 100%;
    border                  : 1px solid #a4b6c4;
    background-size         : 16px auto;
    background-repeat       : no-repeat;
    background-position     : center;
    cursor                  : pointer;
    margin-right            : 6px;
}

.dh_button:last-child
{
    margin-right            : 0;
}

.dh_icon_plus
{
    background-image        : url(/DashboardAssets/Resources/Images/plus.png);
}

.dh_icon_edit
{
    background-image        : url(/DashboardAssets/Resources/Images/edit.png);
}

.dh_icon_remove
{
    background-image        : url(/DashboardAssets/Resources/Images/remove.png);
}

.dh_contacts_form
{
    padding                 : 30px;
    box-sizing              : border-box;
    background-color        : #2196f3;
}

.dh_contacts_form > table
{
    width                   : 100%;
}

.dh_contacts_form tr,
.dh_contacts_form td
{
    vertical-align: bottom;
}

.dh_contacts_form_apply,
.dh_contacts_form_sector
{
    padding                 : 5px;
    box-sizing              : border-box;
}

.dh_contacts_form_sector > div
{
    color                   : #f9f9f9;
    padding-bottom          : 5px;
    font-weight             : bold;
    font-size               : 18px;
    text-transform          : uppercase;
}

.dh_contacts_form_sector > input
{
    width                   : 100%;
    padding                 : 12px 10px;
    box-sizing              : border-box;
    background              : transparent;
    border                  : 1px solid rgba(0, 0, 0, .2);
    outline                 : none;
    color                   : #ffffff;
    font-weight             : bold;
    font-size               : 14px;
    transition              : all .2s;
}

.dh_contacts_form_sector > input:focus
{
    border-color            : #1baff5;
    box-shadow              : 0 0 20px rgba(0, 198, 255, 0.5);
}

.dh_contacts_form_apply
{
    width                   : 0;
}

.dh_contacts_form_apply > a
{
    display                 : inline-block;
    padding                 : 12px 15px;
    box-sizing              : border-box;
    background-color        : rgba(0, 0, 0, .2);
    color                   : #f9f9f9;
    font-weight             : bold;
    font-size               : 14px;
    text-transform          : uppercase;
    border                  : none;
    outline                 : none;
    cursor                  : pointer;
    border-radius           : 4px;
    transition              : all .2s;
    border-bottom           : 2px solid transparent;
}

.dh_contacts_form_apply > a:hover
{
    border-bottom           : 2px solid rgba(0, 0, 0, .2);
}

.dh_contacts_item
{
    display                 : table;
    table-layout            : fixed;
    width                   : 100%;
    padding-bottom          : 10px;
    box-sizing              : border-box;
}

.dh_contacts_item > div
{
    display                 : table-cell;
    vertical-align          : middle;
    width                   : 20%;
    padding                 : 10px;
    box-sizing              : border-box;
    border                  : 1px solid rgba(0, 0, 0, .2);
    border-left             : none;
    text-align              : center;
}

.dh_contacts_item > div:first-child
{
    border-left             : 1px solid rgba(0, 0, 0, .2);
}

.dh_contacts_control_delete
{
    display                 : inline-block;
    padding                 : 12px 15px;
    box-sizing              : border-box;
    background-color        : #1baff5;
    color                   : #f9f9f9;
    font-weight             : bold;
    font-size               : 14px;
    text-transform          : uppercase;
    border                  : none;
    outline                 : none;
    cursor                  : pointer;
    border-radius           : 4px;
    transition              : all .2s;
    border-bottom           : 2px solid transparent;
}

.dh_contacts_control_delete:hover
{
    border-bottom           : 2px solid rgba(0, 0, 0, .2);
}

.dh_photos_wrap
{
    display                 : table;
    width                   : 100%;
    height                  : 100%;
}

.dh_photos_container_wrap,
.dh_photos_controls_wrap
{
    display                 : table-row;
    width                   : 100%;
}

.dh_photos_container_wrap
{
    z-index                 : 2;
    background-color        : #f9f9f9;
}

.dh_photos_controls_wrap
{
    height                  : 0;
    background-color        : #2196f3;
    z-index                 : 4;
}

.dh_photos_container
{
    width                   : 100%;
    height                  : 100%;
    overflow                : hidden;
    overflow-y              : scroll;
    z-index                 : 2;
}

.dh_photos_item
{
    display                 : inline-block;
    vertical-align          : top;
    width                   : 250px;
    height                  : 250px;
    z-index                 : 2;
}

.dh_photos_info,
.dh_photos_image,
.dh_photos_preview
{
    width                   : 100%;
    height                  : 100%;
}

.dh_photos_image
{
    background-position     : center;
    background-size         : cover;
    background-repeat       : no-repeat;
}

.dh_photos_info
{
    position                : absolute;
    z-index                 : 2;
    left                    : 0;
    top                     : 0;
    background-color        : rgba(0, 0, 0, .5);
    cursor                  : pointer;
}

.dh_photos_info:hover > .dh_photos_category_info
{
    opacity: 0;
}

.dh_photos_info:hover > .dh_photos_delete
{
    opacity: 1;
}

.dh_photos_add_form
{
    padding                 : 20px;
    box-sizing              : border-box;
}

.dh_photos_table
{
    display                 : table;
    width                   : 100%;
}

.dh_photos_buttons,
.dh_photos_category,
.dh_photos_file
{
    cursor                  : default;
    display                 : table-cell;
    vertical-align          : middle;
}

.dh_photos_buttons
{
    width                   : 0;
    text-align              : right;
}

.dh_photos_buttons > button
{
    border                  : none;
    outline                 : none;
    padding                 : 10px 15px;
    box-sizing              : border-box;
    background-color        : #ffffff;
    color                   : #1baff5;
    text-transform          : uppercase;
    font-weight             : bold;
    font-size               : 14px;
    border-radius           : 4px;
    font-family             : sans-serif, serif;
    cursor                  : pointer;
    transition              : background-color .2s;
}

.dh_photos_buttons > button:hover
{
    background-color        : #e8e8e8;
}

.dh_photos_file
{
    padding-left            : 20px;
    box-sizing              : border-box;
}

.dh_photos_category_item
{
    display                 : inline-block;
}

.dh_photos_category_item > span,
.dh_photos_category_item > input
{
    display                 : inline-block;
    vertical-align          : middle;
}

.dh_photos_category_item > span
{
    color                   : #ffffff;
    text-transform          : uppercase;
    font-weight             : bold;
    font-size               : 14px;
    font-family             : sans-serif, serif;
    text-shadow             : 1px 1px 0 rgba(0, 0, 0, .2);
}

.dh_photos_category_item > input
{
    cursor                  : pointer;
    width                   : 20px;
    height                  : 20px;
    transition              : all .2s;
}

.dh_photos_delete,
.dh_photos_category_info
{
    position                : absolute;
    width                   : 100%;
    height                  : 100%;
    z-index                 : 5;
    line-height             : 250px;
    text-align              : center;
    text-transform          : uppercase;
    font-size               : 20px;
    font-weight             : bold;
    color                   : #f4f4f4;
    transition              : all .2s
}

.dh_photos_delete
{
    opacity                 : 0;
}

.dh_legal_form
{
    display                 : table;
    width                   : 100%;
    height                  : 100%;
    padding                 : 30px;
    box-sizing              : border-box;
}

.dh_legal_form > div
{
    display                 : table-row;
}

.dh_legal_controls_wrap
{
    height                  : 0;
}

.dh_legal_controls
{
    width                   : 100%;
    text-align              : right;
    padding-top             : 30px;
    box-sizing              : border-box;
}

.dh_legal_form textarea
{
    width                   : 100%;
    height                  : 100%;
    box-sizing              : border-box;
    padding                 : 20px;
    font-size               : 16px;
    resize                  : none;
    border                  : 1px solid #98adbe;
    outline                 : none;
    font-family             : sans-serif, serif;
}
.dh_legal_form textarea:focus
{
    border-color            : #1baff5;
    box-shadow              : 0 0 5px rgba(0, 198, 255, 0.34);
}

.dh_legal_controls > button
{
    display                 : inline-block;
    border                  : none;
    outline                 : none;
    padding                 : 10px 15px;
    box-sizing              : border-box;
    background-color        : #1baff5;
    color                   : #ffffff;
    text-transform          : uppercase;
    font-weight             : bold;
    font-size               : 14px;
    border-radius           : 4px;
    font-family             : sans-serif, serif;
    cursor                  : pointer;
    transition              : background-color .2s;
}

.dh_legal_controls > button:hover
{
    background-color        : #1685bf;
}