.dh_editor_header
{
    display                 : table;
    width                   : 100%;
    padding                 : 30px;
    box-sizing              : border-box;
    z-index                 : 1;
    background-color        : #eaeff5;
}

.dh_editor_title,
.dh_editor_image
{
    display                 : table-cell;
    vertical-align          : middle;
}

.dh_editor_title
{
    width                   : 100%;
    padding-left            : 30px;
    box-sizing              : border-box;
}

.dh_editor_title > h2,
.dh_editor_title > input
{
    font-weight             : bold;
    color                   : #37485a;
    box-sizing              : border-box;
}

.dh_editor_title > h2
{
    text-transform          : uppercase;
    padding                 : 0;
    margin                  : 0;
    padding-bottom          : 10px;
    font-size               : 26px;
}

.dh_editor_title > input
{
    width                   : 100%;
    border                  : 1px solid #98adbe;
    outline                 : none;
    font-size               : 16px;
    padding                 : 10px;
    transition              : all .2s;
    box-shadow              : 0 0 0 transparent;
    background-color        : #eaeff5;
}

.dh_editor_title > input:focus
{
    border-color            : #1baff5;
    box-shadow              : 0 0 5px rgba(0, 198, 255, 0.34);
}

.dh_editor_textarea
{
    width                   : 100%;
    height                  : 100%;
    box-sizing              : border-box;
    padding                 : 10px;
    font-size               : 16px;
    resize                  : none;
    border                  : 1px solid #98adbe;
    outline                 : none;
    font-family             : sans-serif, serif;
}

.dh_editor_textarea:focus
{
    border-color            : #1baff5;
    box-shadow              : 0 0 5px rgba(0, 198, 255, 0.34);
}

.dh_editor_image_box
{
    display                 : table-cell;
    width                   : 150px;
    height                  : 150px;
    border-radius           : 100%;
    background-color        : #98adbe;
    vertical-align          : middle;
    cursor                  : default;
    border                  : none;
    outline                 : none;
    background-position     : center;
    background-repeat       : no-repeat;
    background-size         : cover;
}

.dh_editor_image_box > a
{
    display                 : block;
    padding                 : 20px;
    box-sizing              : border-box;
    text-align              : center;
    text-transform          : uppercase;
    color                   : #ffffff;
    font-weight             : bold;
    font-size               : 14px;
}

.dh_editor_image_box[state="empty"]
{

}

.dh_editor_image_box[state="loaded"] > a
{
    opacity                 : 0;
}

.dh_editor_image_box[state="hover"] > a
{
    opacity                 : 0;
}

.dh_editor_body_container
{
    display                 : table;
    width                   : 100%;
    height                  : 100%;
    padding                 : 30px;
    box-sizing              : border-box;
}

.dh_editor_body_content_controls,
.dh_editor_body_content_text
{
    display                 : table-row;
}

.dh_editor_body_content_text
{

}

.dh_editor_body_content_controls
{
    height                  : 0;
    text-align              : right;
}

.dh_editor_body_content_controls > button
{
    border                  : none;
    outline                 : none;
    padding                 : 10px 15px;
    box-sizing              : border-box;
    background-color        : #1baff5;
    color                   : #ffffff;
    text-transform          : uppercase;
    font-weight             : bold;
    font-size               : 14px;
    border-radius           : 4px;
    font-family             : sans-serif, serif;
    cursor                  : pointer;
    transition              : background-color .2s;
}

.dh_editor_body_content_controls > button:hover
{
    background-color        : #1685bf;
}