html, body
{
    position                : relative;
    width                   : 100%;
    height                  : 100%;
    padding                 : 0;
    margin                  : 0;
}

div
{
    position                : relative;
}

body
{
    background-color        : #eaeff5;
    padding                 : 60px;
    box-sizing              : border-box;
    text-align              : center;
}

body > *
{
    text-align              : left;
}