.dh_news_container
{
    width                   : 100%;
    height                  : 100%;
}

.dh_news_container_list
{
    width                   : 100%;
    height                  : 100%;
    padding                 : 5px;
    padding-right           : 135px;
    box-sizing              : border-box;
}

.dh_news_item
{
    display                 : table;
    width                   : 100%;
    font-family             : sans-serif, serif;
    border-bottom           : 1px dashed #dde2e6;
    margin-top              : 35px;
}

.dh_news_item:first-child
{
    margin-top              : 0;
}

.dh_news_item_preview_icon,
.dh_news_item_info
{
    display                 : table-cell;
    vertical-align          : top;
}

.dh_news_item_preview_icon
{
    width                   : 0;
}

.dh_news_item_icon
{
    width                   : 100px;
    height                  : 100px;
    background-repeat       : no-repeat;
    background-position     : center;
    background-size         : cover;
    border-radius           : 100%;
    box-shadow              : inset 0 0 30px rgba(0, 0, 0, .2);
}

.dh_news_item_info
{
    width                   : 100%;
    padding                 : 30px;
    padding-right           : 0;
    padding-top             : 20px;
    box-sizing              : border-box;
}

.dh_news_item_header_box
{
    display                 : table;
}

.dh_news_item_header_info,
.dh_news_item_header_controls
{
    display                 : table-cell;
    vertical-align          : middle;
}

.dh_news_item_header_info
{
    width                   : 100%;
}

.dh_news_item_header_controls
{
    white-space             : nowrap;
    padding-left            : 30px;
    box-sizing              : border-box;
}

.dh_news_item_header_info > h2
{
    font-size               : 24px;
    font-weight             : bold;
    color                   : #37485a;
    text-transform          : uppercase;
    padding                 : 0;
    margin                  : 0;
}

.dh_news_item_stats
{
    padding-top             : 5px;
    box-sizing              : border-box;
}

.dh_news_item_stats > a
{
    display                 : inline-block;
    border-radius           : 4px;
    padding                 : 2px 5px;
    font-size               : 14px;
    font-weight             : bold;
    color                   : #fff;
    text-shadow             : 1px 1px 0 rgba(0, 0, 0, .3);
    box-shadow              : inset 0 -2px rgba(0, 0, 0, .2);
    margin-right            : 6px;
    cursor                  : default;
}

.dh_news_item_date
{
    background-color        : #fbaa2a;
}

.dh_news_item_author
{
    background-color        : #aed71e
}

.dh_news_item_document
{
    padding-top             : 20px;
    box-sizing              : border-box;
    color                   : #37485a;
    text-align              : justify;
    font-size               : 16px;
}

.dh_news_item_document:after
{
    content: " ...";
}