﻿@{
    Layout = "SecurityLayout";
    ViewBag.Title = "Отказано в доступе";
}

<div class="security-simple-message">
    <span class="security-status-code">401</span>
    <span class="security-status-message">В доступе отказано</span>
</div>