﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/fonts/material-icons.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/layouts.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/webapp.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/stylesheets/security.min.css" asp-append-version="true" />
</head>
<body>
    <div id="root" class="security-root">
        @RenderBody()
    </div>
</body>
</html>
