﻿.security-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #eef2f6;
}

.security-simple-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2d2f35;
    text-align: left;
}

.security-status-message {
    font-size: 28px;
}

.security-status-code {
    font-size: 44px;
}
