﻿body {
  background-color: #e4eaef;
  color: #3d4551; }

.dashboard_app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.dashboard-body {
  position: relative;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  height: 100%; }

.dashboard-content {
  display: flex;
  flex: 1;
  padding: 60px;
  overflow: auto; }

.topbar {
  position: static;
  width: 100%;
  height: 60px;
  background: #F5F5F5;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 10px;
  cursor: default; }

.topbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px; }

.topbar-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 100%; }

.topbar-menu-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  cursor: pointer; }
  .topbar-menu-handler::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border-radius: 100%;
    transition: background ease-in-out .1s; }
  .topbar-menu-handler:hover::before {
    background: #e7eaef; }
  .topbar-menu-handler .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 40px;
    width: 40px;
    font-size: 24px;
    color: #b8c5d5; }

.topbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 40px; }
  .topbar-logo .svg-logo {
    color: #64a5f3;
    fill: #64a5f3; }

.topbar-home {
  font-size: 24px;
  width: 34px;
  height: 34px;
  margin-left: 35px;
  border-radius: 100%;
  transition: all ease-in-out .1s;
  color: #64a5f3;
  text-align: center;
  z-index: 5; }
  .topbar-home:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border: 0 solid transparent;
    transition: all ease-in-out .1s;
    border-radius: 100%;
    z-index: -1; }
  .topbar-home:hover {
    color: #76b4ff;
    transform: rotateZ(90deg); }
    .topbar-home:hover:before {
      border-width: 10px;
      border-color: rgba(100, 165, 243, 0.1); }

.topbar-logo-header {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }
  .topbar-logo-header > .title {
    color: #64a5f3;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px; }
  .topbar-logo-header > .sub-title {
    color: #b8c5d5;
    font-size: 10px;
    line-height: 10px; }

.topbar-account {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: flex-end; }
  .topbar-account .account-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 34px;
    width: 34px;
    margin: 0 6px 0 14px;
    border-radius: 100px;
    background-color: #bbc6d1; }
    .topbar-account .account-icon .user-tag {
      font-size: 12px;
      font-weight: bold;
      color: white;
      text-transform: uppercase; }
  .topbar-account .account-details {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column; }
    .topbar-account .account-details .user-name {
      font-size: 13px;
      font-weight: bold;
      color: #4f5e71; }

.dboard-navigation {
  cursor: default;
  height: 100%;
  background-color: #dbe4eb;
  border-right: 2px solid #dbe4eb;
  width: 250px;
  transition: width ease-in-out .2s;
  overflow: hidden; }

.dboard-compact-view {
  width: 72px; }
  .dboard-compact-view .dboard-menu-category-header, .dboard-compact-view .dboard-mi-content {
    display: none; }
  .dboard-compact-view .dboard-menu {
    padding-top: 0; }
  .dboard-compact-view .dboard-menu-category {
    margin: 0 16px 0 16px; }
  .dboard-compact-view .dboard-mi-active .dboard-mi-icon {
    color: #e4eaef !important;
    background-color: #5fa3f5; }

.dboard-sidebar {
  position: static;
  display: flex;
  height: 100%; }

.dboard-menu {
  width: 100%;
  padding-top: 30px;
  color: #5f717e;
  overflow-x: auto; }

.dboard-menu-category {
  padding: 20px 0 10px 0;
  margin: 0 20px 0 20px;
  border-top: 1px solid #d0dce5; }
  .dboard-menu-category:first-child {
    border-top: none; }

.dboard-menu-category-header {
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 0 10px 8px; }

.dboard-menu-item {
  color: inherit;
  display: flex;
  flex: 1;
  padding-bottom: 5px;
  align-items: center;
  text-decoration: none; }

.dboard-mi-active .dboard-mi-icon {
  color: #5fa3f5 !important; }

.dboard-mi-wrapper {
  display: flex;
  flex: 1;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color ease-in-out .1s;
  background-color: transparent; }
  .dboard-mi-wrapper:hover {
    background-color: #e4eaef; }

.dboard-mi-content {
  padding: 0 20px; }

.dboard-mi-label {
  font-weight: 500;
  white-space: nowrap; }

.dboard-mi-icon {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #899dad;
  border-radius: 5px;
  transition: color ease-in-out .15s; }
  .dboard-mi-icon > *[item-icon=""] {
    width: 24px;
    height: 24px;
    font-size: 24px; }
    .dboard-mi-icon > *[item-icon=""] > * {
      width: 24px;
      height: 24px; }

.page {
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
  font-size: 14px;
  cursor: default; }

.header-label {
  font-size: 26px;
  font-weight: normal; }

.header-description {
  padding: 4px 0 10px 0;
  font-size: 14px;
  color: #c5cdd8; }

.content-box, .activity-box, .activity-columns-box {
  overflow: hidden;
  margin-bottom: 45px; }

.base-activity-box, .activity-box, .info-box {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(207, 214, 220, 0.2) 0 2px 5px 1px; }

.box-header-label, .activity-box--header {
  font-size: 15px;
  font-weight: bold; }

.activity-box--header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px; }
  .activity-box--header[shadow=""] {
    box-shadow: rgba(0, 0, 0, 0.05) 0 5px 10px; }
  .activity-box--header[format="auto"] {
    padding-bottom: 0; }
  .activity-box--header .box-additional-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 20px; }

.activity-box--content, .activity-box--form-content {
  padding: 30px; }

.activity-box-container {
  padding-top: 30px; }
  .activity-box-container:first-child {
    padding-top: 0px; }

.activity-box--form-content {
  background-color: rgba(60, 132, 246, 0.1); }
  .activity-box--form-content[bordered=""] {
    border: 1px solid rgba(60, 132, 246, 0.1);
    border-left: 0;
    border-right: 0; }

.activity-form-box {
  margin: 0; }

.collection-drawer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  .collection-drawer .collection--item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #a5b0bf;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4eaef; }
    .collection-drawer .collection--item:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none; }
    .collection-drawer .collection--item .collection--item-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .collection-drawer .collection--item .collection--item--box, .collection-drawer .collection--item .collection--item--icon, .collection-drawer .collection--item .collection--item--content {
      display: flex;
      justify-content: center;
      margin-left: 20px; }
      .collection-drawer .collection--item .collection--item--box:first-child, .collection-drawer .collection--item .collection--item--icon:first-child, .collection-drawer .collection--item .collection--item--content:first-child {
        margin-left: 0; }
    .collection-drawer .collection--item .collection--ii-min {
      width: 40px !important;
      min-width: 40px !important;
      height: 40px !important;
      min-height: 40px !important; }
    .collection-drawer .collection--item .collection--item--icon {
      color: white;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 45px;
      min-width: 45px;
      height: 45px;
      min-height: 45px;
      border-radius: 100%;
      background-color: #5fa3f5;
      text-transform: uppercase; }
      .collection-drawer .collection--item .collection--item--icon[format="name"] {
        font-size: 14px;
        font-weight: bold; }
    .collection-drawer .collection--item .collection--item--content {
      flex: 1;
      flex-direction: column; }
    .collection-drawer .collection--item .cl-item-row-content {
      display: flex;
      flex: 1;
      align-content: center;
      align-items: center; }
    .collection-drawer .collection--item .cl-item-name {
      color: #56606f;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 2px; }
    .collection-drawer .collection--item .cl-item-marker-name {
      font-size: 12px;
      font-weight: bold;
      color: white;
      background: #5fa3f5;
      border-radius: 5px;
      padding: 2px 5px;
      margin-left: 5px; }
    .collection-drawer .collection--item .cl-item-marker-blue {
      color: #fff;
      background: #5fa3f5; }
    .collection-drawer .collection--item .cl-item-marker-orange {
      color: #fff;
      background: #dc6f3e; }
    .collection-drawer .collection--item .cl-item-marker-green {
      color: #fff;
      background: #3fb466; }
    .collection-drawer .collection--item .cl-item-marker-red {
      color: #fff;
      background: #d55656; }
    .collection-drawer .collection--item .cl-item-desc {
      font-size: 12px;
      font-weight: 800; }
      .collection-drawer .collection--item .cl-item-desc > b {
        color: #707b8d; }
    .collection-drawer .collection--item .cl-item-controls {
      display: flex;
      flex-direction: row;
      padding-left: 25px; }
      .collection-drawer .collection--item .cl-item-controls > * {
        margin-left: 10px; }
      .collection-drawer .collection--item .cl-item-controls .material-icon {
        padding: 5px;
        font-size: 19px; }

.auto-resize-collection {
  flex-direction: row;
  column-count: 2; }
  @media (min-width: 400px) {
    .auto-resize-collection .collection--item {
      width: 100%; } }
  @media (min-width: 1200px) {
    .auto-resize-collection .collection--item {
      width: 50%;
      padding-right: 25px; } }

.info-box {
  padding: 18px; }

.box-inrow-inputs {
  width: 100%; }
  .box-inrow-inputs .input-field-header {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px; }
  .box-inrow-inputs .input-field {
    min-width: 150px;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 15px;
    justify-content: space-between; }
    .box-inrow-inputs .input-field > * {
      width: 100%; }
    .box-inrow-inputs .input-field .input {
      height: 40px; }
    .box-inrow-inputs .input-field:last-child {
      padding-right: 0; }

.message-box {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  border-radius: 10px;
  background: white;
  color: #3d4551;
  font-size: 13px;
  font-weight: bold; }
  .message-box[message-type="error"] {
    background: #fcadad; }

.messages-container {
  margin-top: 25px; }

.activity-columns-box {
  display: flex;
  flex: 1;
  flex-direction: row; }
  .activity-columns-box .column-box {
    display: flex;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 15px; }
    .activity-columns-box .column-box:last-child {
      padding-right: 0; }
  .activity-columns-box .column-box-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px; }
    .activity-columns-box .column-box-header[format="upper"] {
      font-size: 13px;
      text-transform: uppercase; }

.popup-over-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(207, 214, 220, 0.85);
  z-index: 1000;
  overflow-y: auto;
  padding: 30px; }

.windowed-popup-controls {
  padding: 25px 0; }

.windowed-popup-loader {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(207, 214, 220, 0.85);
  z-index: 2000; }

.schedule-preview-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(207, 214, 220, 0.7) 0 2px 5px;
  margin-bottom: 25px;
  overflow: hidden;
  transition: all ease-in-out .1s; }

.sc-preview-content {
  padding: 30px;
  padding-top: 45px; }

.sc-preview-sub-box {
  padding-top: 15px; }

.sc-preview-name {
  font-weight: bold;
  font-size: 17px;
  color: #51a0d9; }

.sc-preview-counter {
  font-weight: bold;
  font-size: 18px;
  padding-left: 3px; }

.sc-preview-grid {
  display: flex;
  flex: 1;
  flex-direction: row; }

.sc-preview-grid-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 15px; }
  .sc-preview-grid-column:last-child {
    margin-right: 0px; }

.sc-preview-grid-entry-title {
  font-size: 13px;
  font-weight: bold;
  color: #51a0d9;
  text-transform: uppercase; }

.sc-preview-grid-entry-content {
  padding-top: 2px; }

.sc-preview-grid-entry-label {
  font-size: 12px;
  font-weight: bolder;
  color: #717c8e;
  text-transform: uppercase; }

.sc-preview-special-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .sc-preview-special-container .special-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .sc-preview-special-container .special-content .special-unit {
      margin-left: 10px; }
    .sc-preview-special-container .special-content .special-unit:first-child {
      margin-left: 0 !important; }
  .sc-preview-special-container .special-content:first-child .special-unit:first-child {
    border-bottom-left-radius: 0 !important; }
  .sc-preview-special-container .special-content:last-child .special-unit:last-child {
    border-bottom-right-radius: 0 !important; }
  .sc-preview-special-container .special-theme-blue {
    background: #57b6fa;
    color: #fff; }
  .sc-preview-special-container .special-theme-orange {
    background: #f1a31e;
    color: #fff; }
  .sc-preview-special-container .special-unit {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; }
  .sc-preview-special-container .special-label {
    font-weight: bold;
    border-bottom-right-radius: 8px;
    padding: 4px 8px;
    font-size: 12px;
    z-index: 5;
    transition: all ease-in-out .1s; }
  .sc-preview-special-container .special-control {
    border-bottom-left-radius: 8px;
    padding: 5px;
    font-size: 19px !important;
    cursor: pointer;
    z-index: 5;
    transition: all ease-in-out .1s;
    opacity: .8; }
    .sc-preview-special-container .special-control:hover {
      opacity: 1; }

.schedule-preview-inactive-wrapper .schedule-preview-box {
  opacity: .6; }
  .schedule-preview-inactive-wrapper .schedule-preview-box:hover {
    opacity: 1; }

.schedule-page {
  max-width: none;
  min-width: 800px;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column; }
  .schedule-page > * {
    display: flex;
    flex-direction: column; }

.schedule-editor-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between; }

.schedule-editor-publication-buttton {
  text-transform: uppercase;
  background: #84b5ef;
  color: #fff; }
  .schedule-editor-publication-buttton:hover {
    background: #7aace8; }

.published {
  background: #f38a86;
  color: #fff; }
  .published:hover {
    background: #e97d79; }

.schedule-editor-publication-control-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: 35px; }

.schedule-editor-publication-status {
  padding-right: 15px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #b9c4ce; }

.schedule-editor-sheets-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  color: #556979;
  height: 38px;
  margin-bottom: 20px; }

.sc-editor-sheet-operate-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  background: white; }

.sc-editor-sheet-operate-content {
  display: flex;
  width: 100%; }

.sc-editor-sheet-operate-full {
  flex: 1; }

.sc-editor-sheet-operate-header {
  padding: 5px 18px;
  color: #3d4f5c;
  background: #e7ecf2;
  font-size: 14px;
  font-weight: bold;
  border-left: 3px solid #b3bbc6;
  border-right: 2px solid #e2e6ed; }

.sc-editor-sheets-list {
  display: flex;
  flex: 1;
  flex-direction: row; }
  .sc-editor-sheets-list .sheet-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out .1s;
    background-color: transparent; }
    .sc-editor-sheets-list .sheet-item > * {
      white-space: nowrap; }
    .sc-editor-sheets-list .sheet-item:hover {
      color: #66a0e6;
      background-color: #eaeff3; }
    .sc-editor-sheets-list .sheet-item:after {
      position: absolute;
      content: '';
      right: -1px;
      width: 2px;
      height: 50%;
      background: #c8d1d9;
      z-index: 5; }
    .sc-editor-sheets-list .sheet-item:last-child:after {
      opacity: 0; }
    .sc-editor-sheets-list .sheet-item .move-control {
      width: 18px !important;
      height: 18px !important;
      font-size: 16px !important; }
      .sc-editor-sheets-list .sheet-item .move-control:first-child {
        margin-right: 10px;
        margin-left: 0; }
      .sc-editor-sheets-list .sheet-item .move-control:hover {
        background-color: rgba(102, 160, 230, 0.71) !important;
        color: #fff !important; }
    .sc-editor-sheets-list .sheet-item .delete-control {
      background-color: rgba(61, 79, 92, 0.1); }
      .sc-editor-sheets-list .sheet-item .delete-control:hover {
        background-color: rgba(241, 78, 48, 0.6);
        color: #fff; }
    .sc-editor-sheets-list .sheet-item .control-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      font-size: 19px;
      width: 22px;
      height: 22px;
      border-radius: 5px;
      cursor: pointer;
      z-index: 5;
      transition: all ease-in-out .1s; }
  .sc-editor-sheets-list .sheet-item-selected {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    background-color: #7fb2ef; }
    .sc-editor-sheets-list .sheet-item-selected .move-control:hover {
      background-color: rgba(255, 255, 255, 0.2) !important;
      color: #fff !important; }
    .sc-editor-sheets-list .sheet-item-selected .delete-control {
      background-color: rgba(61, 79, 92, 0.1); }
      .sc-editor-sheets-list .sheet-item-selected .delete-control:hover {
        background-color: rgba(242, 122, 122, 0.9);
        color: white; }
    .sc-editor-sheets-list .sheet-item-selected:hover {
      color: #fff;
      background-color: #7fb2ef; }
    .sc-editor-sheets-list .sheet-item-selected:after {
      opacity: 0; }

.sc-editor-sheets-operate-controls {
  display: flex;
  padding-left: 10px;
  height: 100%; }
  .sc-editor-sheets-operate-controls .sheet-control-button {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 7px; }

.schedule-sheets-list-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.schedule-editor-board {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
  overflow: hidden;
  overflow-x: auto; }

.schedule-editor-board-list {
  width: 325px;
  min-width: 325px;
  padding-right: 15px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column; }
  .schedule-editor-board-list > * {
    display: flex;
    flex-direction: column; }
  .schedule-editor-board-list .board-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    z-index: 15; }
    .schedule-editor-board-list .board-list-header .control {
      margin-left: 6px;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      width: 18px;
      height: 18px;
      border-radius: 5px; }
  .schedule-editor-board-list .board-list-content-wrapper {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 10px;
    padding-top: 10px; }
  .schedule-editor-board-list .board-list-card {
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: rgba(203, 213, 222, 0.4) 0 1px 5px; }
  .schedule-editor-board-list .board-list-card-content {
    padding: 22px;
    padding-top: 40px; }
  .schedule-editor-board-list .board-list-card-edit-control {
    position: absolute;
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    font-weight: normal;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    width: 26px;
    height: 26px;
    z-index: 10; }
  .schedule-editor-board-list .board-list-card-header {
    font-size: 16px;
    font-weight: bold;
    color: #5295e5;
    padding-bottom: 10px; }
  .schedule-editor-board-list .board-list-card-special-content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 22px;
    padding-right: 27px; }
    .schedule-editor-board-list .board-list-card-special-content .short-item {
      max-width: 100px; }
    .schedule-editor-board-list .board-list-card-special-content .special-item {
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: row;
      padding: 3px 8px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: #89bbf6;
      color: #fff;
      font-weight: bold;
      font-size: 13px;
      margin-right: 4px; }
    .schedule-editor-board-list .board-list-card-special-content .special-item-theme-red {
      color: #fff;
      background: #f66071; }
    .schedule-editor-board-list .board-list-card-special-content .special-item-theme-orange {
      color: #fff;
      background: #ff924b; }
    .schedule-editor-board-list .board-list-card-special-content .special-item-theme-purple {
      color: #fff;
      background: #a556e9; }
    .schedule-editor-board-list .board-list-card-special-content .special-item-theme-green {
      color: #fff;
      background: #91cb65; }
    .schedule-editor-board-list .board-list-card-special-content .special-item-icon {
      font-size: 14px;
      font-weight: normal;
      margin-right: 5px; }
  .schedule-editor-board-list .board-list-card-details-group {
    display: flex;
    flex: 1;
    flex-direction: row; }
    .schedule-editor-board-list .board-list-card-details-group > * {
      padding-right: 10px; }
      .schedule-editor-board-list .board-list-card-details-group > *:last-child {
        padding-left: 0; }
  .schedule-editor-board-list .board-list-card-details-box {
    margin-top: 10px;
    font-weight: bold; }
    .schedule-editor-board-list .board-list-card-details-box .details-title {
      font-size: 13px;
      text-transform: uppercase;
      padding-bottom: 3px;
      color: #606f7a; }
    .schedule-editor-board-list .board-list-card-details-box .details-content {
      font-size: 12px;
      color: #72a6e2; }
  .schedule-editor-board-list .board-list-card-row-box {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    flex-direction: row; }
  .schedule-editor-board-list .board-list-card-row-box-item {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #7fb2ef;
    font-size: 13px;
    font-weight: bold; }
    .schedule-editor-board-list .board-list-card-row-box-item .card-row-box-item-icon {
      font-size: 20px;
      font-weight: normal;
      margin-right: 6px; }
  .schedule-editor-board-list .board-list-card-instructor {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px; }
    .schedule-editor-board-list .board-list-card-instructor .instructor-icon {
      width: 30px;
      min-width: 30px;
      height: 30px;
      min-height: 30px;
      border-radius: 100%;
      background-color: #7fb2ef;
      text-align: center;
      color: #fff;
      margin-right: 10px; }
    .schedule-editor-board-list .board-list-card-instructor .instructor-name {
      color: #556979; }
  .schedule-editor-board-list .board-list-card-markers {
    display: flex;
    flex-direction: row;
    margin-top: 10px; }
  .schedule-editor-board-list .board-list-card-marker {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background: #7fb2ef;
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 10px; }
    .schedule-editor-board-list .board-list-card-marker:last-child {
      margin-right: 0; }
  .schedule-editor-board-list .simple-control {
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease-in-out .1s; }

.board-list-item-creator-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 15px;
  bottom: 0;
  z-index: 50;
  background-color: #dbe4eb;
  border: 2px solid #d7e0e8;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 5px; }

.board-list-item-creator {
  padding: 30px;
  overflow-y: auto; }
  .board-list-item-creator .input {
    height: 30px; }
  .board-list-item-creator .creator-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #c7d2db;
    color: #6d7f8d;
    transition: all ease-in-out .1s;
    margin-left: 25px; }
    .board-list-item-creator .creator-close-button:hover {
      background-color: #b7c4cf;
      color: #637481; }
  .board-list-item-creator .creator-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 15px; }
  .board-list-item-creator .input-field-group {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row; }
    .board-list-item-creator .input-field-group > * {
      margin-right: 10px; }
      .board-list-item-creator .input-field-group > *:last-child {
        margin-right: 0; }
  .board-list-item-creator .input-field {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px; }
    .board-list-item-creator .input-field .input-field-header {
      padding-bottom: 10px; }
    .board-list-item-creator .input-field .input {
      display: flex;
      flex: 1;
      flex-direction: row; }
  .board-list-item-creator .creator-apply-button {
    text-align: center;
    justify-content: center; }

