﻿body {
  background: #e8eff4; }

.error-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; }

.error-message {
  font-weight: 500;
  text-align: center; }

.error-code {
  font-size: 100px;
  color: #3e4c5e; }

.error-description {
  font-size: 20px;
  color: #95acbc; }

.error-link {
  margin-top: 25px;
  cursor: pointer;
  color: #16b0f6;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 1px solid #16b0f6;
  padding-bottom: 3px;
  background-color: transparent; }

