﻿@import "passport/partials/_base.scss";
@import "passport/partials/_messages.scss";
@import "utils/_utils.scss";

body {
    background-color: #eaeff5;
    cursor: default;
}

#root {
    @include util-centered-in-row;
    width: 100%;
    min-height: 100%;
    padding: 50px;

    > .wrapper {
        @include util-centered-in-row;
        flex-direction: column;
    }
}

.sign-progress {
    width: 100%;
    height: 4px;
    background: #d9e2ef;
    border-radius: 5px;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background: #16b0f6;
        border-radius: 5px;
    }
}

.logo-section {
    @include util-centered-in-row;
    @include util-children-vertical-margin(15px);
    width: 100%;
    padding-bottom: 25px;
    text-align: center;
    flex-direction: column;

    h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        //text-align: justify;
    }

    .logo {
        width: 80px;
        height: 80px;
    }
}