﻿.passport-box-large-size {
  max-width: 750px; }

.passport-box-normal-size {
  max-width: 400px; }

.silent-button {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100; }

.passport-box {
  font-size: 14px;
  color: #3e4c5e; }
  .passport-box .message {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0; }
  .passport-box .marked-header-label {
    color: #16b0f6;
    font-size: 14px;
    font-weight: bold; }
  .passport-box .passport-box-content {
    border-radius: 5px;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 15px rgba(175, 192, 215, 0.3); }
  .passport-box .content-wrapper {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%; }
    .passport-box .content-wrapper .content-column:nth-child(n+2) {
      margin-left: 25px; }
  .passport-box .content-column {
    flex: 1; }
  .passport-box .auth-header {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    .passport-box .auth-header > *:nth-child(n+2) {
      margin-top: 25px; }
    .passport-box .auth-header > .icon {
      width: 50px;
      height: 50px; }
  .passport-box .auth-title {
    font-size: 20px;
    font-weight: 500;
    color: #3e4c5e;
    text-transform: uppercase; }
  .passport-box .content-tab[disabled] {
    display: none; }
  .passport-box .tabs-navigation {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: stretch; }
    .passport-box .tabs-navigation > *:nth-child(n+2) {
      margin-top: 15px; }
  .passport-box .fields {
    padding: 25px 0;
    min-width: 285px; }
    .passport-box .fields > *:nth-child(n+2) {
      margin-top: 15px; }
  .passport-box .fields-in-row {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    align-items: center;
    justify-content: center;
    align-items: flex-start; }
    .passport-box .fields-in-row > *:nth-child(n+2) {
      margin-left: 15px; }
  .passport-box .input-field {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border: none;
    margin-bottom: 2px; }
    .passport-box .input-field .icon {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      color: #7d90a9; }
    .passport-box .input-field .validation-message {
      font-size: 12px;
      font-weight: 700;
      color: #f73131; }
    .passport-box .input-field input {
      width: 100%;
      height: 100%;
      font-size: 14px;
      font-weight: bold;
      transition: border-color ease-in-out .25s;
      color: #16b0f6;
      border: 0px;
      background: none;
      border-bottom: 2px dotted #afc0d7;
      height: 50px; }
      .passport-box .input-field input::-webkit-input-placeholder {
        color: #97aac1; }
      .passport-box .input-field input::-moz-placeholder {
        color: #97aac1; }
      .passport-box .input-field input:-moz-placeholder {
        color: #97aac1; }
      .passport-box .input-field input:-ms-input-placeholder {
        color: #97aac1; }
      .passport-box .input-field input:required {
        border-color: #16b0f6; }
      .passport-box .input-field input:valid, .passport-box .input-field input:focus {
        border-style: solid;
        border-color: #16b0f6 !important; }
      .passport-box .input-field input:invalid {
        border-color: #afc0d7; }
  .passport-box .action-button {
    width: 100%;
    flex: 1;
    height: 50px;
    background-color: #16b0f6;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 0 50px 0 20px;
    transition: all ease-in-out .2s; }
    .passport-box .action-button:hover .overflow {
      width: 100%; }
    .passport-box .action-button .overflow {
      position: absolute;
      border-radius: 5px;
      width: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.1);
      transition: width ease-out .2s; }
    .passport-box .action-button .icon-wrapper {
      width: 50px;
      height: 50px;
      display: flex;
      /*
    > * {
        margin: auto;
    }
    */
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      position: absolute;
      right: 0;
      top: 0;
      float: right; }
    .passport-box .action-button .icon {
      width: 16px;
      height: 16px; }
  .passport-box .back-button {
    color: #5b6879;
    background: rgba(175, 192, 215, 0.2);
    padding: 0 20px; }
  .passport-box .action-lite-button {
    transition: border-color ease-in-out .1s;
    cursor: pointer;
    color: #16b0f6;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    background-color: transparent; }
    .passport-box .action-lite-button:hover {
      border-color: #16b0f6; }
  .passport-box .utils-section {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 25px 0 0 0; }

.auth-social-wrapper {
  display: flex;
  /*
    > * {
        margin: auto;
    }
    */
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .auth-social-wrapper > .title {
    color: #889cb7;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 0; }
  .auth-social-wrapper .provider-collection {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .auth-social-wrapper .provider-collection > *:nth-child(n+2) {
      margin-left: 10px; }
    .auth-social-wrapper .provider-collection .provider {
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      /*
    > * {
        margin: auto;
    }
    */
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: 0 2px 3px #afc0d7;
      background-color: #ffffff;
      transition: box-shadow ease-in-out .2s; }
      .auth-social-wrapper .provider-collection .provider img {
        width: 24px;
        height: 24px;
        z-index: 2; }
    .auth-social-wrapper .provider-collection .social-google {
      background-color: #ffffff; }
      .auth-social-wrapper .provider-collection .social-google:hover {
        box-shadow: 0 0 8px rgba(246, 87, 87, 0.5); }
    .auth-social-wrapper .provider-collection .social-vk {
      background-color: #4285f4; }
      .auth-social-wrapper .provider-collection .social-vk:hover {
        box-shadow: 0 0 8px rgba(15, 123, 255, 0.7); }
    .auth-social-wrapper .provider-collection .social-facebook {
      background-color: #4285f4; }
      .auth-social-wrapper .provider-collection .social-facebook:hover {
        box-shadow: 0 0 8px rgba(15, 123, 255, 0.7); }
    .auth-social-wrapper .provider-collection .social-twitter {
      background-color: #4285f4; }
      .auth-social-wrapper .provider-collection .social-twitter:hover {
        box-shadow: 0 0 8px rgba(15, 123, 255, 0.7); }
    .auth-social-wrapper .provider-collection .social-microsoft {
      background-color: #4285f4; }
      .auth-social-wrapper .provider-collection .social-microsoft:hover {
        box-shadow: 0 0 8px rgba(15, 123, 255, 0.7); }

.message-container {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid rgba(241, 124, 124, 0.3);
  background: rgba(241, 124, 124, 0.3);
  color: #f25353;
  font-size: 14px;
  font-weight: 500; }
  .message-container:empty {
    display: none; }
  .message-container > ul {
    padding: 0 0 0 15px;
    margin: 0; }

body {
  background-color: #eaeff5;
  cursor: default; }

#root {
  display: flex;
  /*
    > * {
        margin: auto;
    }
    */
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 50px; }
  #root > .wrapper {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    align-items: center;
    justify-content: center;
    flex-direction: column; }

.sign-progress {
  width: 100%;
  height: 4px;
  background: #d9e2ef;
  border-radius: 5px; }
  .sign-progress:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #16b0f6;
    border-radius: 5px; }

.logo-section {
  display: flex;
  /*
    > * {
        margin: auto;
    }
    */
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 25px;
  text-align: center;
  flex-direction: column; }
  .logo-section > *:nth-child(n+2) {
    margin-top: 15px; }
  .logo-section h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0; }
  .logo-section .logo {
    width: 80px;
    height: 80px; }

