﻿.webapp-size-normal {
  min-width: 300px;
  max-width: 800px; }

.webapp-size-min-content-fixed {
  min-width: 400px;
  max-width: 400px; }

.loader-spinner {
  width: 70px;
  text-align: center; }

.loader-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: loader-spinner-bouncedelay 1.4s infinite ease-in-out both;
  animation: loader-spinner-bouncedelay 1.4s infinite ease-in-out both; }

.loader-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes loader-spinner-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes loader-spinner-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

* [active="no"], * [active="false"], * [active="off"] {
  display: none !important; }

.disable-user-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.disable-link,
.disable-link:link,
.disable-link:visited,
.disable-link:hover,
.disable-link:active {
  text-decoration: none !important; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

body {
  font-family: "Roboto", sans-serif; }

* {
  position: relative;
  box-sizing: border-box; }

div {
  display: block; }

a {
  display: inline-block;
  text-decoration: none; }

button, input {
  border: 0;
  border-color: transparent;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0; }

button {
  cursor: pointer; }

.overlay-loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(234, 239, 245, 0.85);
  z-index: 1000000;
  overflow: hidden; }
  .overlay-loading[disabled] {
    display: none; }
  .overlay-loading .content {
    display: flex;
    /*
    > * {
        margin: auto;
    }
    */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .overlay-loading .loader > * {
    background-color: #16b0f6; }

.async-operation-block {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: center; }
  .async-operation-block[mode="await"] {
    background-color: rgba(228, 234, 239, 0.7); }
  .async-operation-block .operation-status {
    padding: 14px 20px;
    color: #3d4551;
    border-radius: 10px;
    background: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: rgba(207, 214, 220, 0.7) 0px 0px 15px 5px; }

.additional-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0; }
  .additional-section > * {
    margin-right: 0;
    text-align: center; }
  .additional-section > *:nth-child(n+2) {
    margin-left: 10px; }

.link {
  font-size: 14px;
  font-weight: 500;
  color: #009de4; }

.rights-label {
  font-size: 14px;
  font-weight: 500;
  color: #6a7f9a;
  white-space: nowrap; }

.webapplication-root-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #f9f9f9; }

.webapplication-section {
  display: flex;
  width: 100%; }

.webapplication-content {
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  overflow: auto; }

.webapp-body-content-root, .webapp-body-nav-section, .webapp-body-content-section {
  display: flex; }

.webapp-body-content-root {
  flex-direction: row;
  padding: 40px 20px; }

.webapp-body-nav-section {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 100px;
  cursor: default; }

.webapp-body-content-section {
  min-width: 300px;
  max-width: 700px;
  flex-flow: column nowrap; }

.webapp-nav-group {
  width: 100%;
  margin-bottom: 16px; }

.webapp-nav-group-header {
  padding: 5px 0 16px 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #97a2a9; }

.webapp-nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #5f717e;
  background-color: transparent;
  transition: all ease-in-out .1s; }
  .webapp-nav-link:hover {
    background-color: rgba(62, 77, 88, 0.05); }
  .webapp-nav-link .icon {
    font-size: 24px;
    margin-right: 10px;
    color: #8596a3; }

.webapp-nav-link-active {
  color: #3fa3e6;
  background-color: rgba(0, 161, 255, 0.1); }
  .webapp-nav-link-active:hover {
    background-color: rgba(0, 161, 255, 0.1); }
  .webapp-nav-link-active .icon {
    color: #74c3f7; }

.webapp-content-box {
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 35px; }
  .webapp-content-box .marked-text, .webapp-content-box a {
    color: #4a9be0;
    font-weight: bold; }
  .webapp-content-box a {
    text-decoration: underline; }

.webapp-content-box-normal-content {
  text-align: center;
  font-size: 14px;
  cursor: default;
  padding: 25px; }

.webapp-content-box-demo-icon {
  font-size: 60px !important; }

.webapp-content-box-demo-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 135px; }

.webapplication-header-bar {
  height: 60px;
  background-color: #fff;
  z-index: 5;
  box-shadow: #ebebeb 0 2px 20px; }

.wpp-header-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0 20px; }

.wpp-header-directed-section {
  display: flex;
  height: 100%;
  align-content: center;
  align-items: center; }

.wpp-single-bar-section {
  display: flex;
  padding: 0 18px;
  height: 100%;
  align-content: center;
  align-items: center; }
  .wpp-single-bar-section:before {
    position: absolute;
    content: '';
    left: 0;
    top: 25%;
    width: 2px;
    height: 50%;
    background-color: #ebebeb; }

.wpp-single-account {
  cursor: pointer;
  padding-right: 0;
  transition: all ease-in-out .1s;
  background-color: transparent; }
  .wpp-single-account:hover {
    background-color: #f6f6f6; }

.wpp-single-account-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  padding-right: 14px; }

.wpp-single-account-icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  background-color: #dcdcdc;
  border-radius: 100%; }

.wpp-single-account-user-details {
  font-weight: bold;
  padding: 0 15px;
  color: #303740; }
  .wpp-single-account-user-details > .user-name {
    font-size: 13px; }
  .wpp-single-account-user-details > .user-email {
    font-size: 11px;
    color: #8995a3; }

.wpp-single-account-settings-icon {
  display: flex;
  align-items: center;
  justify-content: center; }
  .wpp-single-account-settings-icon > svg {
    color: #d0d0d0;
    fill: #d0d0d0;
    width: 15px;
    height: 15px; }

.wpp-single-account-login-content {
  color: #619df2;
  transition: all ease-in-out .1s;
  text-decoration: none; }
  .wpp-single-account-login-content:hover {
    color: #549afc;
    text-decoration: none; }

.wpp-single-account-login-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: inherit; }

.wpp-single-account-login-label {
  font-size: 13px;
  font-weight: bold;
  color: inherit; }

.wpp-header-logo-section {
  display: flex;
  align-items: center;
  cursor: default; }

.wpp-header-logo-icon {
  height: 30px; }

.wpp-header-logo-title {
  padding-left: 15px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #6c9ee4; }

.wpp-header-personality-content .wpp-single-bar-section:first-child:before {
  display: none; }

.base-input-settings, .input-modern, .input-select-modern, .input-button-modern, .input-toggle-modern-wrapper .checkmark {
  font-family: "Roboto", sans-serif;
  transition: background ease-in-out .1s;
  outline: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.1); }

.input-modern {
  color: #3d4551;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 2px solid #36abff; }
  .input-modern::placeholder {
    opacity: .5; }
  .input-modern:-ms-input-placeholder {
    opacity: .5; }
  .input-modern::-ms-input-placeholder {
    opacity: .5; }

.input-select-modern {
  border: 0 none;
  color: #fff;
  background: #36abff;
  padding: 8px 10px;
  cursor: pointer; }
  .input-select-modern:hover {
    background: #32a3f5; }
  .input-select-modern > option {
    border: 2px solid #36abff;
    background: #fff;
    color: black;
    padding: 6px 12px;
    border-radius: 6px; }

.input-button-modern {
  border: 0 none;
  color: #fff;
  background: #36abff;
  padding: 8px 10px;
  cursor: pointer; }
  .input-button-modern:hover {
    background: #32a3f5; }

.input-toggle-modern-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center; }
  .input-toggle-modern-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .input-toggle-modern-wrapper:hover .checkmark:after {
    border-width: 6px;
    width: 8px;
    height: 8px;
    border-color: #32a3f5;
    opacity: .6; }
  .input-toggle-modern-wrapper .checkmark {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0;
    padding-left: 30px;
    height: 20px; }
  .input-toggle-modern-wrapper .checkmark:after, .input-toggle-modern-wrapper .checkmark:before {
    position: absolute;
    content: '';
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    transition: all ease-in-out .1s;
    border: 2px solid #32a3f5; }
  .input-toggle-modern-wrapper .checkmark:after {
    border-color: transparent;
    background-color: transparent; }
  .input-toggle-modern-wrapper .checkmark:before {
    background-color: transparent; }
  .input-toggle-modern-wrapper input[type="checkbox"]:checked ~ .checkmark:before {
    background-color: #32a3f5;
    border-color: transparent; }

.base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 14px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  cursor: pointer; }

.button-delete {
  cursor: pointer;
  background-color: #ed4a4a;
  color: white; }
  .button-delete:hover {
    background-color: #e53f3f; }

.button-delete-outline {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ed4a4a;
  color: #ed4a4a; }
  .button-delete-outline:hover {
    background-color: #e53f3f;
    border-color: #e53f3f;
    color: white; }

.button-action {
  cursor: pointer;
  background-color: #5fa3f5;
  color: white; }
  .button-action:hover {
    background-color: #5193e2; }

.button-action-outline {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #5fa3f5;
  color: #5fa3f5; }
  .button-action-outline:hover {
    background-color: #5193e2;
    border-color: #5193e2;
    color: white; }

.modern-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

.modern-scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
  background: #d6d9db; }

.modern-scrollbar::-webkit-scrollbar-thumb {
  background: #b5bdc1;
  outline: none;
  transition: background ease-in-out .1s; }
  .modern-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #989ea1; }

.modern-menu-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

.modern-menu-scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
  background: #cdd9e0; }

.modern-menu-scrollbar::-webkit-scrollbar-thumb {
  background: #aabcca;
  outline: none;
  transition: background ease-in-out .1s; }
  .modern-menu-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9eb0be; }

.modern-board-list-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

.modern-board-list-scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
  background: transparent; }

.modern-board-list-scrollbar::-webkit-scrollbar-thumb {
  background: #aabcca;
  outline: none;
  transition: background ease-in-out .1s; }
  .modern-board-list-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9eb0be; }

