﻿.flex {
    display: -webkit-flex !important;
    display: flex !important;
}

.flex-center {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex_layout_row {
    @extend .flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex_layout_column {
    @extend .flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-zero {
    flex: 0 !important;
}

*[flex-vertical='center'] {
    align-items: center;
}

*[flex-horizontal='center'] {
    justify-content: center;
}

.flex_row_vcenter {
    @extend .flex_layout_row;
    align-items: center;
}