.contacts_container_wrap
{

    width       : 100%;
    height      : 100%;
    overflow-y  : scroll;
    overflow-x  : hidden;
    background  : rgba(42, 52, 63, .8);
}
.contacts_container
{
    width       : 100%;
    height      : 100%;
    font-family : reef;
}

.contacts_map
{
    height: 350px !important;
}

.contacts_map_inner
{
    width       : 100%;
    height      : 100%;
    background  : rgba(0, 0, 0, .3);
}

.contacts_list_wrap
{
    width       : 100%;
    height      : 100%;
}

.contacts_list
{
    display     : flex;
    flex-wrap   : wrap;
    width       : 100%;
    height      : 100%;
    padding     : 60px;
    box-sizing  : border-box;
}

.contacts-item
{
    width           : 50%;
    flex-grow       : 2;
    padding-right   : 30px;
    padding-bottom  : 30px;
    box-sizing      : border-box;
    font-size       : 14px;
    align-items     : flex-start;
}
.contacts-item:nth-child(2n)
{
    padding-right   : 0;
}

.contacts-item_header
{
    font-size       : 22px;
    padding-bottom  : 5px;
}

.contacts-item_people
{

}

.contacts-item_email,
.contacts-item_phone
{
    padding-top: 5px;
}

.contacts-item_email > i,
.contacts-item_phone > i
{
    padding-right: 5px;
}

.contacts-item_email
{

}