.document-page_wrap
{
    width               : 100%;
    height              : 100%;
    background          : #e2e2e2;
    text-align          : center;
}

.document-container
{
    display             : inline-block;
    width               : 550px;
    height              : 100%;
    background          : #f4f4f4;
    box-shadow          : 0 0 5px rgba(0, 0, 0, .15);
    text-align          : left;
}

.document-close_button
{
    position            : absolute;
    top                 : 30px;
    right               : 30px;
    cursor              : pointer;
}

.document-close_button > i
{
    font-size           : 30px;
    color               : #252525;
    transition          : all .2s;
    opacity             : .3;
}

.document-close_button:hover  i
{
    opacity             : 1;
}

.document-content
{
    width               : 100%;
    height              : 100%;
}

.document-header
{
    width               : 100%;
    background-size     : cover;
    background-position : center;
    background-repeat   : no-repeat;
}

.document-header_content
{
    width               : 100%;
    height              : 100%;
    background          : rgba(0, 0, 0, .5);
    box-shadow          : inset 0 0 100px rgba(0, 0, 0, .5);
    padding             : 60px;
    box-sizing          : border-box;
}

.document-header_content > h1
{
    font-size           : 24px;
    color               : #ffffff;
    text-transform      : uppercase;
    font-weight         : normal;
    font-family         : taurus;
}

.document-body
{
    padding             : 60px;
    box-sizing          : border-box;
    color               : #212121;
    font-size           : 16px;
    text-align          : justify;
    font-family         : reef;
    font-weight         : normal;
}

.document-container .ss-scroll
{
    background: rgba(0, 0, 0, .6);
}