.gallery_category_item
{
    position            : relative;
    width               : 33.3333%;
    height              : 100%;
    background-size     : cover;
    background-position : left;
    background-repeat   : no-repeat;
}

.gallery_category_item_inside
{
    width               : 100%;
    height              : 100%;
    background          : linear-gradient(to top, rgba(0, 0, 0, .8) 10%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .8) 90%);
}

.gallery_explorer_table
{
    /*table-layout        : fixed;*/
}

.gallery_explorer_row
{
    width               : 100%;
}

.gallery_back_row
{
    width               : 100%;
    height              : 60px;
    background          : rgba(0, 0, 0, .6);
    transition          : background .2s;
}

.gallery_back_row:hover
{
    background          : rgba(255, 255, 255, .2);
}

.gallery_back
{
    position            : relative;
    width               : 100%;
    height              : 100%;
    text-align          : center;
    cursor              : pointer;
}

.gallery_back > i,
.gallery_back > a
{
    line-height         : 60px;
    color               : #f9f9f9;
    font-size           : 20px;
}

.gallery_back > i
{
    position            : absolute;
    left                : 30px;
}

.gallery_back > a
{
    text-transform      : uppercase;
}

.gallery_category_header,
.gallery_category_navigation
{
    position            : absolute;
    width               : 100%;
    color               : #f9f9f9;
    text-transform      : uppercase;
    text-align          : center;
    font-family         : taurus;
}

.gallery_category_header
{
    top                 : 0;
    font-size           : 48px;
    padding             : 60px;
    box-sizing          : border-box;
}

.gallery_category_navigation
{
    bottom              : 0;
}

.gallery_category_button
{
    position            : relative;
    display             : block;
    font-size           : 24px;
    border-radius       : 1000px;
    border              : 3px solid rgba(255, 255, 255, .8);
    padding             : 20px;
    box-sizing          : border-box;
    transition          : all .2s;
    cursor              : pointer;
    margin              : 60px;
}

.gallery_category_button:hover
{
    background          : rgba(255, 255, 255, .8);
    border-color        : transparent;
    color               : rgba(0, 0, 0, .8);

}

.gallery_explorer_photos_wrap
{
    width               : 100%;
    height              : 100%;
    overflow            : scroll;
    overflow-x          : hidden;
}

.gallery_explorer_photos_container
{

}

.gallery_explorer_photo
{
    display             : inline-block;
    width               : 25%;
    background-size     : cover;
    background-position : center;
    background-repeat   : no-repeat;
    vertical-align      : top;
}

.gallery_explorer_photo:before
{
    content             : "";
    display             : block;
    padding-top         : 100%;
    z-index             : 1;
}

.gallery_explorer_photo_viewbox
{
    position            : absolute;
    top                 : 0;
    bottom              : 0;
    left                : 0;
    right               : 0;
    opacity             : 0;
    transition          : all .2s;
    z-index             : 2;
    cursor              : pointer;
    background          : rgba(0, 0, 0, .4);
    box-shadow          : inset 0 0 100px rgba(0, 0, 0, .8);
}

.gallery_explorer_photo_viewbox:before
{
    position            : absolute;
    content             : "\f0b2";
    color               : #f9f9f9;
    font-size           : 46px;
    font-family         : FontAwesome;
    width               : 0;
    height              : 0;
    left                : 50%;
    top                 : 50%;
    margin-left         : -23px;
    margin-top          : -23px;
}

.gallery_explorer_photo_viewbox:hover
{
    opacity             : 1;
}