.page_main
{
    box-sizing                  : border-box;
    color                       : #f9f9f9;
}

.page_main
{
    text-transform              : uppercase;
}

.header_company_name
{
    font-size                   : 36px;
    padding-bottom              : 5px;
}

.header_company_description
{
    width                       : 300px;
    font-size                   : 14px;
    text-shadow                 : 1px 1px rgba(0, 0, 0, .2);
}

.page_main_side_content,
.page_main_side_fast-page-view
{
    box-sizing                  : border-box;
}

.page_main_side_content
{
    padding                     : 60px;
}

.page_main_side_fast-page-view
{
    vertical-align              : top;
}

.page_main-view-copyright
{
    display                     : table;
    width                       : 100%;
    height                      : 100%;
    padding                     : 60px;
    padding-left                : 30px;
    box-sizing                  : border-box;
}

.page_main-copyright
{
    display                     : table-cell;
    vertical-align              : bottom;
    text-align                  : right;
}

.layer_header,
.layer_footer
{
    height                      : 0;
}

.page_main .navigation
{
    vertical-align              : middle;
}

.page_main .navigation_item
{
    font-family                 : reef;
    line-height                 : 35px;
}

.page_main .navigation_item > a
{
    cursor                      : pointer;
    font-size                   : 24px;
    transition                  : font-size .1s;
}

.page_main .navigation_item > a:hover
{
    font-size                   : 26px;
}

.page_main .navigation_item[pointer="selected"] > a
{
    cursor                      : default;
    font-size                   : 48px;
}

.layer_header,
.layer_body,
.layer_footer
{
    vertical-align              : middle;
}

.page_main .social,
.page_main .developer
{
    display                     : inline-block;
}

.page_main .developer
{
    display                     : inline-block;
    color                       : #fefefe;
    font-size                   : 12px;
    text-transform              : none;
}

.page_main .social > a
{
    position                    : relative;
    display                     : inline-block;
    font-size                   : 22px;
    padding-right               : 15px;
    cursor                      : pointer;
    transition                  : color .25s;
    text-decoration             : none;
    color                       : #f4f4f4;
}

.page_main .social > .socicon-instagram:hover
{
    color                       : #9c7c6e;
}

.page_main .social > .socicon-facebook:hover
{
    color                       : #3e5b98;
}

.page_main .social > .socicon-twitter:hover
{
    color                       : #4da7de;
}

.page_main .social > .socicon-vkontakte:hover
{
    color                       : #3e5b98;
}