.news_mini_container
{
    width       :  100%;
    height      : 700px;
    color       : #f9f9f9;
    overflow    : hidden;
    background  : rgba(0, 0, 0, .6);
}

.news_mini_item
{
    width   :  100%;
    height  : 250px;
}

.news_mini_item
{
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
}

.news_mini_content
{
    display     : table;
    width       : 100%;
    height      : 100%;
    background  : rgba(0, 0, 0, .5);
    box-shadow  : inset 0 0 100px rgba(0, 0, 0, .5);
    padding     : 30px;
    box-sizing  : border-box;
}

.news_mini_header,
.news_mini_body
{
    display     : table-row;
    width       : 100%;
    font-family : taurus;
}

.news_mini_header
{
    font-size: 24px;
}

.news_mini_body
{
    height      : 0;
    font-size   : 18px;
    text-align  : right;
}

.news_mini_button-read
{
    cursor          : pointer;
    display         : inline-block;
    padding         : 18px 22px;
    border          : 3px solid rgba(255, 255, 255, .8);
    border-radius   : 1000px;
    transition      : all .2s;
    background-color: transparent;
}

.news_mini_button-read:hover
{
    background-color: rgba(255, 255, 255, .8);
    color: rgba(0, 0, 0, .9);
    border-color: transparent;
}