.pricelist_container
{
    position    : relative;
    width       : 100%;
    height      : 100%;
    background  : rgba(42, 52, 63, .8);
}

.pricelist_header_backface
{
    position    : absolute;
    display     : block;
    width       : 100%;
    height      : 150px;
    top         : 0;
    left        : 0;
    background  : rgba(0, 0, 0, .3);
    z-index     : 1;
}

.pricelist_container_inner
{
    position    : relative;
    display     : inline-block;
    width       : 100%;
    height      : 100%;
    z-index     : 2;
    padding     : 60px;
    box-sizing  : border-box;
    font-family : taurus;
}

.pricelist_header
{
    font-size       : 36px;
    color           : #fff;
    padding-bottom  : 30px;
    box-sizing      : border-box;
}

.pricelist_list_container
{
    height          : 500px;
}

.pricelist-item
{
    display         : table;
    width           : 100%;
    table-layout    : fixed;
    margin-bottom   : 1px;
}

.pricelist-item:last-child
{
    margin-bottom   : 0;
}

.pricelist_item_price,
.pricelist_item_header
{
    display         : table-cell;
    width           : 50%;
    height          : 100px;
    vertical-align  : middle;
    overflow        : hidden;
}

.pricelist_item_price,
.pricelist_item_header_box > a
{
    padding         : 15px;
    box-sizing      : border-box;
}

.pricelist_item_header
{
    font-family     : reef;
    font-size       : 14px;
}

.pricelist_item_header_box
{
    width           : 100%;
    height          : 100%;
    padding-right   : 1px;
    box-sizing      : border-box;
}

.pricelist_item_header_box > a
{
    display         : block;
    width           : 100%;
    height          : 100%;
    background      : #4d647a;
}

.pricelist_item_price
{
    background      : #3e556b;
    text-align      : center;
}

.pricelist_item_price > a
{
    font-size       : 28px;
}

.pricelist_item_price > i
{
    font-size       : 28px;
    padding-left    : 5px;
}