﻿<div class="auth-social-wrapper">
    <div class="title">Вход через социальные сети</div>
    <div class="provider-collection">
        <form class="provider social-google" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Passport" asp-action="ExternalLogin"
              value="Google" title="Вход через ваш Google аккаунт">
            <img src="~/images/socials/google.png" />
            <button type="submit" class="silent-button" name="provider" value="Google"></button>
        </form>
        <form class="provider social-facebook" method="post" asp-route-returnurl="@ViewData[" ReturnUrl"]" asp-controller="Passport" asp-action="ExternalLogin"
              value="Facebook" title="Вход через ваш Facebook аккаунт">
            <img src="~/images/socials/facebook.png" />
            <button type="submit" class="silent-button" name="provider" value="Facebook"></button>
        </form>
        <form class="provider social-twitter" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Passport" asp-action="ExternalLogin"
              value="Twitter" title="Вход через ваш Twitter аккаунт">
            <img src="~/images/socials/twitter.png" />
            <button type="submit" class="silent-button" name="provider" value="Twitter"></button>
        </form>
    </div>
</div>