﻿@{
    Layout = "PassportLayout";
    ViewBag.Title = "Подтверждение email";
}

<!-- EMAIL CONFIRMATION DONE -->
<div class="passport-box passport-box-large-size">
    <div class="passport-box-content">
        <span class="message">@ViewData["EmailConfirmationMessage"]</span>
        <div class="utils-section">
            <a asp-controller="Passport" asp-action="Login" name="login" class="action-lite-button">Войти в систему</a>
        </div>
    </div>
</div>