﻿@model PassportForgotViewModel;
@{
    Layout = "PassportLayout";
    ViewBag.Title = "Восстановление доступа";
}

<!--FORGOT PASSWORD FORM -->
<form class="passport-box" method="post">
    <div class="passport-box-content">
        <div class="auth-header">
            <img class="icon" src="~/images/logo.png" />
            <div class="auth-title">Восстановление доступа</div>
        </div>
        <div class="content-tabs">
            <div class="content-tab">
                <div class="fields">
                    <div class="input-field">
                        <input asp-for="Email" placeholder="Введите ваш email" value="@Model.Email" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-navigation">
            <input type="submit" style="display: none;" />
            <button class="action-button">
                Восстановить пароль
                <div class="icon-wrapper">
                    <svg class="icon" viewBox="0 0 124.133 124.133" focusable="false" fill="currentColor">
                        <circle cx="364" cy="140.062" r="32" />
                        <path d="M109.587,10.1c-15.5-13.4-39-13.5-54.5-0.1c-11.8,10.2-16.5,25.2-13.9,39.2c0.7,3.9-0.4,7.9-3.2,10.7l-33.9,33.8
		c-5.4,5.399-5.4,14.199,0,19.5l6.8,6.699c5.1,5.101,14,5.9,18.4,0.7c0.4-0.5,0.7-1.3,0.7-2V110c0-1.7,1.3-3,3-3h7c1.7,0,3-1.4,3-3
		v-6c0-1.7,1.3-3,3-3h7c1.7,0,3-1.4,3-3v-8.2c0-1.6,1.3-3,2.9-3c9.6-0.2,18.801,2.8,28.4,2.2c9.3-0.601,18-5.101,24.5-11.601
		C128.887,54.3,128.188,26.2,109.587,10.1z M94.486,54c-7,7-18.399,7-25.5,0c-7-7-7-18.4,0-25.5c7-7,18.4-7,25.5,0
		C101.486,35.6,101.486,47,94.486,54z" />
                    </svg>
                </div>
            </button>
        </div>
        <div class="utils-section">
            <a asp-controller="Passport" asp-action="Login" name="login" class="action-lite-button">Войти в систему</a>
            <a asp-controller="Passport" asp-action="Register" name="register" class="action-lite-button">Создать аккаунт</a>
        </div>
    </div>
</form>
<!-- SIGN UP SOCIAL -->
@Html.Partial("_Social.cshtml")