﻿@{
    Layout = "PassportLayout";
    ViewBag.Title = "Восстановление пароля доступа";
}

<!-- FORGOT PASSWORD CONFIRMATION -->
<div class="passport-box passport-box-large-size">
    <div class="passport-box-content">
        <span class="message">На ваш email было отправлено сообщение с ссылкой на восстановление пароля</span>
        <div class="utils-section">
            <a asp-controller="Passport" asp-action="Login" name="login" class="action-lite-button">Войти в систему</a>
        </div>
    </div>
</div>