﻿@{
    Layout = "PassportLayout";
    ViewBag.Title = "Доступ временно заблокирован";
}

<!-- LOCKOUT -->
<div class="passport-box">
    <div class="passport-box-content">
        <span class="message">Приносим свои извинения, но доступ к вашему аккаунту временно заблокирован. Попробуйте вернуться поже.</span>
    </div>
</div>