@import "options";

.abstract_section
{
    min-width:  $web_width_min;
    max-width:  $web_width_max;
    margin: 0 auto;
}

.abstract_sub_section
{
    width: auto;

    // Default child properties for abstract class
    .section_title
    {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
    }
}

.responsive_container
{
    padding-left:  0.938rem;
    padding-right: 0.938rem;
    margin: 0 auto;
}

@media (min-width: 544px)  { .responsive_container { max-width: 576px; } }
@media (min-width: 768px)  { .responsive_container { max-width: 720px; } }
@media (min-width: 992px)  { .responsive_container { max-width: 940px; } }
@media (min-width: 1200px) { .responsive_container { max-width: 1140px; } }
