body
{
    overflow: hidden;
}

.vk-table
{
    display:    table;
    width:      100%;
    height:     100%;
}

.vk-cell
{
    display:        table-cell;
    vertical-align: middle;
    text-align:     center;
    width:          100%;
    height:         100%;
}

.vk-container
{
    display:    inline-block;
    border:     1px solid #e7e8ec;
    width:      100%;
    height:     100%;
}

.vk-container iframe
{
    width:      100%;
    height:     100%;
    border:     none;
    outline:    none;
}