@keyframes page-entry-animation
{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes page-vewer-entry-animation
{
    0%
    {
        transform: translateX(100%);
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes page-wait-entry-animation
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes page-wait-exit-animation
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes page-vewer-entry-animation2
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.page-wait-entry-animation-play
{
    animation: 1s ease-in-out forwards page-wait-entry-animation;
}

.page-wait-exit-animation-play
{
    animation: 1s ease-in-out forwards page-wait-exit-animation;
}

.page-viewer-entry-animation-play
{
    animation: 1s ease-in-out forwards page-vewer-entry-animation;
}

.page-viewer-entry-animation-play2
{
    animation: 1s ease-in-out forwards page-vewer-entry-animation2;
}

.page-viewer-entry-animation-play2-fast
{
    animation: .2s ease-in-out forwards page-vewer-entry-animation2;
}