<div class="leaderboard-item gpu">
    <div class="lbi-section lbi-section-position"></div>
    <div class="lbi-section lbi-section-icon">
        <div class="_icon"></div>
    </div>
    <div class="lbi-section lbi-section-descriptions">
        <div class="_country-name"></div>
        <div class="_country-players"></div>
    </div>
    <div class="lbi-section lbi-section-balance"></div>
</div>