﻿@{
    var navigationCategories = new NavigationCategoryViewModel[]
    {
        new NavigationCategoryViewModel
        {
            CategoryName = "Расписание",
            Items = new NavigationItemViewModel[]
            {
                new NavigationItemViewModel { Name = "Расписания", Link = "/dashboard/schedules", IconName = "developer_board" },
                new NavigationItemViewModel { Name = "Типы расписания", Link = "/dashboard/schedules/types", IconName = "assignment" }
            }
        },
        new NavigationCategoryViewModel
        {
            CategoryName = "Библиотека",
            Items = new NavigationItemViewModel[]
            {
                new NavigationItemViewModel { Name = "Специальности", Link = "/dashboard/specialties", IconName = "settings_ethernet" },
                new NavigationItemViewModel { Name = "Преподаватели", Link = "/dashboard/instructors", IconName = "account_circle" },
                new NavigationItemViewModel { Name = "Дисциплины", Link = "/dashboard/disciplines", IconName = "bookmark" },
                new NavigationItemViewModel { Name = "Типы занятий", Link = "/dashboard/disciplineMethods", IconName = "font_download" },
                new NavigationItemViewModel { Name = "Формы обучения", Link = "/dashboard/education/methods", IconName = "headset_mic" },
                new NavigationItemViewModel { Name = "Квалификации", Link = "/dashboard/education/qualifications", IconName = "language" }
            }
        },
        new NavigationCategoryViewModel
        {
            CategoryName = "Обучающиеся",
            Items = new NavigationItemViewModel[]
            {
                new NavigationItemViewModel { Name = "Группы", Link = "/dashboard/students/groups", IconName = "group" }
            }
        }
    };
}

<div class="dboard-navigation" id="navigation-sidebar">
    <div class="dboard-sidebar">
        <div class="dboard-menu modern-menu-scrollbar">
            @{
                foreach (var category in navigationCategories)
                {
                    <div class="dboard-menu-category">
                        @if (!string.IsNullOrEmpty(@category.CategoryName))
                        { 
                            <div class="dboard-menu-category-header">@category.CategoryName</div>
                        }
                        @foreach (var item in category.Items)
                        { 
                            <a class="dboard-menu-item" href="@item.Link" onclick="navigation.goAsync('@item.Name', this.href, app.pageRendererContainerRoute.getElement(), app.sidebar.update); return false;">
                                <div class="dboard-mi-wrapper">
                                    <div class="dboard-mi-icon" item-icon>
                                        <div class="material-icon">@item.IconName</div>
                                    </div>
                                    <div class="dboard-mi-content">
                                        <span class="dboard-mi-label">@item.Name</span>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                }
            }   
        </div>
    </div>
</div>
<script defer>
    app.sidebar = window.navigation.createMenuAutoHandlerForApp(document.getElementById("navigation-sidebar"));
</script>