﻿@inject UserManager<User> userManager
@{
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var user = userId != null ? await userManager.FindByIdAsync(userId) : null;
    var hasUser = user != null;

    var userName = user != null ? $"{user.UserFirstName} {user.UserLastName}" : "";
    var userEmail = user?.Email ?? "";
}
<div class="webapplication-section webapplication-header-bar">
    <div class="wpp-header-content">
        <div class="wpp-header-directed-section wpp-header-navigation-content">
            <div class="wpp-header-logo-section">
                <a asp-controller="Home" asp-action="Index" class="wpp-header-logo-icon disable-link">
                    <img class="wpp-header-logo-icon" src="~/images/logo.png" />
                </a>
                <div class="wpp-header-logo-title">Пензенский казачий институт технологий</div>
            </div>
        </div>
        <div class="wpp-header-directed-section wpp-header-personality-content">

            <div class="wpp-single-bar-section wpp-single-account">
                <div class="wpp-single-account-content">
                    @if (hasUser)
                    {
                        <div class="wpp-single-account-icon"></div>
                        <div class="wpp-single-account-user-details">
                            <div class="user-name">@userName</div>
                            <div class="user-email">@userEmail</div>
                        </div>
                        <div class="wpp-single-account-settings-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
                            </svg>
                        </div>
                    }
                    else
                    {
                        <a href='@Url.Action("Login", "Passport", new { ReturnUrl = Context.Request.Path })' class="wpp-single-account-login-content flex flex-center disable-link">
                            <div class="wpp-single-account-login-icon flex flex-center material-icon">fingerprint</div>
                            <div class="wpp-single-account-login-label">Авторизироваться</div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
