.full-size
{
    width: 100%;
    height: 100%;
}

.full-fixed-size
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.align-center
{
    text-align: center;
    vertical-align: middle;
}

@mixin func-background-image($position: center, $repeat: no-repeat, $size: auto)
{
    background-size: $size !important;
    background-position: $position !important;
    background-repeat: $repeat !important;
}