@import "options";
@import "formatting";

.mixed-container
{
    width: 100%;
    height: 100%;

    .con_links-wrapper
    {
        z-index: 100;
        height: 60px;
        padding: 0 5px;
        background: #323946;
        text-align: right;
    }

    .con_application-wrapper
    {
        height: calc(100% - 60px);
    }
}

.application
{
    @extend .full-size;

    background-color: $theme_main_bg_color;
}

#app-header
{
    width: 100%;
    padding: 50px;
}

// GRID
.grid-table
{
    @extend .full-size;
    display: table;
    table-layout: fixed;
}

.grid-row
{
    display: table-row;
}

.grid-cell
{
    display: table-cell;
}

// GAME GRID
.game-grid-cell_body
{
    height: 100%;
}

// FIELD FORMATS
.field-parent-container
{
    font-size: 0;
}

.field
{
    display: inline-block;
    font-size: 0;
    text-align: left;
    white-space: nowrap;
    margin-right: 10px;
}

.float-field
{
    float: left;
}

.field:last-child
{
    margin-right: 0;
}

.field-inside-element-formatting
{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.field-icon,
.field-value
{
    @extend .field-inside-element-formatting;
}

.field-icon
{
    @include func-background-image(center, no-repeat, cover);
}

.field-value
{
    padding-left: 10px;
}

// GAME FIELD FORMAT
$game_field_size: 50px;
.game-field
{
    height: $game_field_size;
    border-radius: $game_field_size;
    background: rgba(0, 0, 0, .2);
    margin-right: 25px;

    font-size: 18px;
    font-weight: bold;
    color: white;

    .field-icon
    {
        width: $game_field_size;
        height: $game_field_size;
        border-radius: $game_field_size;
    }
    
    .field-value
    {
        text-align: center;
        padding: 0 20px;

        .number-slide
        {
            width: 17px;
            height: 24px;
            font-size: 16px;
        }
    }

    $game_field_alt_button_size: 40px;
    .field-alternate-button
    {
        @extend .field-inside-element-formatting;

        height: $game_field_alt_button_size;
        line-height: $game_field_alt_button_size;
        border-radius: $game_field_alt_button_size;
        padding: 0 15px;
        margin-right: 5px;
        font-size: 22px;
        text-transform: uppercase;
        font-variant: all-petite-caps;
    }
}

#country-money-label
{
    .golden-type
    {
        color: #ffd700;
    }
}

.estimated-field-value-width
{
    min-width: 110px;
}

.leader-board-button
{
    width: $game_field_size;
    height: $game_field_size;

    float: right;
    cursor: pointer;
    z-index: 1;

    ._icon
    {
        @include func-background-image(center, no-repeat, contain);
        @extend .full-size;
    }
}

.leader-board-button:before
{
    position: absolute;
    cursor: inherit;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: -1;
    background-color: transparent;
    transition: all .2s;
}

.leader-board-button:hover:before
{
    background-color: rgba(0, 0, 0, .2);
    transform: scale(2);
}


.button-action_transfer
{
    background-color: #6d8c60;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;
}
.button-action_transfer[transfer-state="locked"]
{
    cursor: default;
    opacity: 0.2;
}

#app-body
{
    @extend .full-size;
}

#particles-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
}

#click-area-box
{
    @extend .full-size;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    cursor: pointer;

    .center-text
    {
        color: rgba(255, 255, 255, .8);
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        opacity: 1;
        z-index: 10;
        transition: all .4s;
    }

    .clicker-title-hider
    {
        opacity: 0.1;
    }
}

// PARTICLES
.particle
{
    @include func-background-image(center, no-repeat, contain);
    position: absolute;
}

.particle-money
{
    width: 80px;
    height: 80px;

    animation: particle-money-animation 5s ease-out forwards;
}

@keyframes particle-money-animation
{
    0%
    {
        transform: translate(0, 0) rotate3d(1, 2, .4, 0deg);
        opacity: 0;
    }
    40%
    {
        opacity: 0.8;
    }
    60%
    {
        opacity: 0.8;
    }
    80%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
        transform: translate(0, 500px) rotate3d(1, 2, .4, 360deg);
    }
}

.particle-money-animation-exit
{
    animation: particle-money-animation 5s ease-out forwards !important;
}

@keyframes animation-particle-money-animation-exit
{
    from
    {
        transform: scale(1);
    }
    to
    {
        transform: scale(3);
        opacity: 0;
    }
}

/// Effects
*[anim="value-update"]
{
    animation: animation-value-update 0.4s ease-out forwards;
}

@keyframes animation-value-update
{
    0%
    {
        transform: scale(1);
    }
    60%
    {
        transform: scale(1.5);
    }
    100%
    {
        transform: scale(1);
    }
}

#country-icon
{
    cursor: pointer;

    ._icon_settings
    {
        @include func-background-image(center, no-repeat, contain);
        position: absolute;
        z-index: 10;
        width: 20px;
        height: 20px;
        bottom: calc(100% - 15px);
        left: calc(100% - 15px);
    }
}

.number-slide-wrapper
{
    font-size: 0;
    white-space: nowrap;
}

$number-slide-color: #e7e8ec;
$number-slide-background: linear-gradient(#4c6f3e, #6d8c60, #4c6f3e);
.number-slide
{
    display: inline-block;
    vertical-align: middle;
    padding: 2px 4px;
    border-radius: 4px;
    text-align: center;
    background: $number-slide-background;
    color: $number-slide-color;
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2);

    &::after
    {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 50%;
        height: 2px;
        z-index: 10;
        background: rgba(0, 0, 0, .1);
    }
}