.clicker-bonus_wrapper
{
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    z-index: 150;
    text-align: center;
}

.clicker-bonus_container
{
    display: inline-block;
}

#clicker-bonus-multiplier
{
    display: none;
    text-align: center;
    transition: all .2s;

    ._value
    {
        font-size: 18px;
        font-weight: bold;
        color: #d6d7d9;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    ._progress
    {
        width: 200px;
        height: 10px;
        background: rgba(0, 0, 0, .2);
        text-align: center;
        overflow: hidden;

        ._delimiter
        {
            position: absolute;
            width: 2px;
            height: 100%;
            left: calc(50% - 1px);
            z-index: 2;
            background-color: #303642;
        }

        ._line
        {
            display: inline-block;
            vertical-align: top;
            height: 100%;
            background: rgba(255, 255, 255, .8);
            z-index: 1;
            transition: all .1s;
        }
    }
}

#clicker-bonus-multiplier[visibility="hidden"]
{
    display: block;
    opacity: 0;
}

#clicker-bonus-multiplier[visibility="visible"]
{
    display: block;
    opacity: 1;
}