@import "formatting";

#authorization-screen
{
    @extend .full-fixed-size;
    z-index: 1000000;
    background-color: #1c2638;

    .auth-table
    {
        @extend .full-size;
        display: table;
    }

    .auth-cell
    {
        @extend .full-size;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .auth-text
    {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
}