.full-size,#authorization-screen .auth-table,#authorization-screen .auth-cell{width:100%;height:100%}.full-fixed-size,#authorization-screen{position:fixed;top:0;bottom:0;right:0;left:0}.align-center{text-align:center;vertical-align:middle}#authorization-screen{z-index:1000000;background-color:#1c2638}#authorization-screen .auth-table{display:table}#authorization-screen .auth-cell{display:table-cell;vertical-align:middle;text-align:center}#authorization-screen .auth-text{display:inline-block;font-size:18px;font-weight:bold;color:white;text-align:center;text-transform:uppercase}
/*# sourceMappingURL=auth.css.map */
