@import "formatting";

#country-select-wrapper
{
    @extend .full-fixed-size;
    z-index: 1000;
    background-color: rgba(60, 68, 82, .9);
    padding: 50px 0;
}

.country-select-container
{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

.country-select-header,
.country-select-content,
.country-select-content
{
    width: 100%;
}

.country-select-header
{
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
    z-index: 3;
}

.country-select-content
{
    height: calc(100% - 160px);
}

#country-select-close
{
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: all .2s;
    z-index: 2;
}

#country-select-close:hover
{
    background-color: rgba(0, 0, 0, .4);
}

.country-select-controls
{
    height: 60px;
}

#country-select-items
{
    width:  100%;
    height: 100%;
    font-size: 0;
    text-align: left;
    overflow: hidden;
    padding-right: 10px;
}

.country-select-item
{
    display: inline-block;
    width: calc(33% - 10px);
    padding: 5px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, .25);
    white-space: nowrap;
    margin: 5px;
    font-size: 0;
    overflow: hidden;
    transition: all .2s;
    cursor: pointer;

    ._icon, ._name
    {
        display: inline-block;
        vertical-align: middle;
    }

    ._icon
    {
        @include func-background-image(center, no-repeat, cover);
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    ._name
    {
        padding: 0 20px;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
    }
}

.country-select-item:hover
{
    background-color: rgba(0, 0, 0, .4);
}

.country-select-item[active]
{
    cursor: default;
    background-color: rgb(105, 150, 110);
}

.country-select-item[active]:hover
{
    background-color: rgb(105, 150, 110);
}