.full-size,html,body{width:100%;height:100%}.full-fixed-size{position:fixed;top:0;bottom:0;right:0;left:0}.align-center{text-align:center;vertical-align:middle}html,body{overflow:hidden;padding:0;margin:0;cursor:default;font-family:blogger, sans-serif}*{position:relative;box-sizing:border-box;user-select:none;cursor:inherit}*[screen-state="hide"]{display:none !important}.gpu{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}
/*# sourceMappingURL=generic.css.map */
