@import "formatting";

html, body
{
    @extend .full-size;
    overflow: hidden;

    padding: 0;
    margin: 0;

    cursor: default;
    font-family: blogger, sans-serif;
}

*
{
    position: relative;
    box-sizing: border-box;
    user-select: none;
    cursor: inherit;
}

*[screen-state="hide"]
{
    display: none !important;
}

.gpu
{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}