@import "formatting";

#leaderboard-root
{
    @extend .full-fixed-size;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .6);
    transition: all .4s;
}

.leaderboard-wrapper
{
    @extend .full-size;
    padding: 50px 0;
}

.leaderboard-container
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #3c4453;
    overflow: hidden;
    z-index: 50;
}

.leaderboard-container-wrapper
{
    width: 500px;
    height: 100%;
    margin: 0 auto;
    z-index: 50;
    animation: leaderboard-container-animation-in .4s ease-in-out forwards;
}

@keyframes leaderboard-container-animation-in
{
    0% { transform: scale(0); }
    60% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.leaderboard-header,
.leaderboard-content,
.leaderboard-item
{
    width: 100%;
}

.leaderboard-header
{
    height: 80px;
    z-index: 10;
    background-color: #cca94e;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.leaderboard-header > *
{
    vertical-align: top !important;
}

.leaderboard-header_title,
.leaderboard-header_close
{
    display: inline-block;
    vertical-align: middle;
}

.leaderboard-header_title
{
    width: 0;
    padding: 0 25px;
    line-height: 80px;
}

.leaderboard-header_close
{
    @include func-background-image(center, no-repeat, 30% auto);
    float:  right;
    width:  80px;
    height: 80px;
    opacity: .8;
    cursor: pointer;
    transition: opacity .2s;
}

.leaderboard-header_close:hover
{
    opacity: 1;
}

.leaderboard-content
{
    height: calc(100% - 80px);
    z-index: 5;
    overflow: hidden;
}

#leaderboard-items-container
{
    width:  100%;
    height: 100%;
}

.leaderboard-item
{
    display: table;
    table-layout: fixed;
    height: 90px;

    .golden-type { color: #ffd700; }
}

.leaderboard-item[rating="1"]
{
    background-color: #cca94e !important;
    .golden-type { color: #ffec84 !important; }
}

.leaderboard-item[rating="2"]
{
    background-color: #797d84 !important;
    .golden-type { color: #e6c361 !important; }
}

.leaderboard-item[rating="3"]
{
    background-color: #78715e !important;
    .golden-type { color: #e6c361 !important; }
}

.leaderboard-item:nth-child(2n + 5)
{
    background-color: rgba(0, 0, 0, .1);
}

.lbi-section
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.lbi-section-position
{
    width: 90px;
    font-size: 36px;
}

.lbi-section-icon
{
    width: 50px;
}

.lbi-section-icon ._icon
{
    @include func-background-image(center, no-repeat, cover);
    background-color: rgba(0, 0, 0, .2);
    width: 50px;
    height:50px;
    border-radius: 100%;
}

.lbi-section-icon ._icon .sticker
{
    @include func-background-image(center, no-repeat, contain);
    position: absolute;
    z-index: 20;
    width: 40px;
    height: 40px;
    bottom: calc(100% - 20px);
    left: calc(100% - 27px);
    transform: rotateZ(35deg);
    opacity: 0;
    animation: crown-in-anim .4s .2s forwards;
}

@keyframes crown-in-anim
{
    0%
    {
        opacity: 0;
        transform: scale(.1, .1) rotateZ(35deg);
    }
    60%
    {
        opacity: 1;
        transform: scale(1.2, 1.2) rotateZ(35deg);
    }
    100%
    {
        transform: scale(1, 1) rotateZ(35deg);
        opacity: 1;
    }
}

.lbi-section-descriptions
{
    text-align: left;
    padding-left: 20px;
    //white-space: nowrap;
}

.lbi-section-descriptions ._country-name
{
    font-size: 14px;
}

.lbi-section-descriptions ._country-players
{
    font-size: 14px;
}

.lbi-section-balance
{
    width: 140px;
    text-align: right;
    font-size: 24px;
    padding: 0 20px;
    white-space: nowrap;
}

// LEADERBOARD CONTROLS
.leaderboard-controls
{
    position: absolute;
    left: calc(100% + 20px);
    top: 80px;
    width: 80px;
    border-radius: 15px;
    background-color: #cca94e;
    overflow: hidden;
    z-index: 5;

    ._control[active]
    {
        background-color: rgba(255, 255, 255, .4);
        z-index: 10;
    }

    ._control[active]:hover
    {
        background-color: rgba(255, 255, 255, .4) !important;
    }

    ._control
    {
        @include func-background-image(center, no-repeat, 40% auto);
        width: 80px;
        height: 80px;
        transition: all .2s;
        background-color: transparent;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
        cursor: pointer;
    }

    ._control:hover
    {
        background-color: rgba(255, 255, 255, .2);
        z-index: 15;
    }
}