.full-size{width:100%;height:100%}.full-fixed-size,#loading-screen{position:fixed;top:0;bottom:0;right:0;left:0}.align-center{text-align:center;vertical-align:middle}#loading-screen{background-size:40px auto !important;background-position:center;background-repeat:no-repeat;z-index:80000;background-color:#1c2638;opacity:0.96;animation:loading-screen-animation-show .2s forwards}@keyframes loading-screen-animation-show{from{opacity:0}}
/*# sourceMappingURL=loading.css.map */
