@import "formatting";

#loading-screen
{
    @extend .full-fixed-size;
    @include func-background-image(center, no-repeat, 40px auto);

    z-index: 80000;
    background-color: #1c2638;

    opacity: 0.96;
    animation: loading-screen-animation-show .2s forwards;
}

@keyframes loading-screen-animation-show
{
    from { opacity: 0; }
}