@import "formatting";

.ads-entity
{
    display: inline-block;
    vertical-align: middle;
}

.ads-entity-size-blank
{
    @extend .ads-entity;
    height: 100%;
}

.ads-entity-link
{
    @extend .ads-entity;

    margin-right: 10px;
    text-decoration: none;
    list-style: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .2) !important;
    transition: all .2s;
    text-transform: uppercase;

    cursor: pointer;

    ._name, ._icon
    {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
    }

    ._icon
    {
        @include func-background-image(center, no-repeat, cover);

        width: 28px;
        height: 28px;
        border-radius: 100%;
        margin: 6px;
    }

    ._name
    {
        padding-left: 8px;
        padding-right: 15px;
        color: white;
        font-size: 12px;
        font-weight: bold;
    }

    &:hover
    {
        background-color: rgba(0, 0, 0, .4) !important;
    }
}