﻿.home-welcome-box-image {
    height: 170px;
    background-color: #d4edff;
    background: url("../images/welcome-banner.png");
    background-size: cover;
}

.home-welcome-box-content {
    padding: 25px;
    text-align: center;
    font-size: 14px;
    cursor: default;
}

.home-welcome-box-content-header {
    font-weight: bold;
    font-size: 15px;
}

.home-welcome-box-content-info {
    padding-top: 15px;

    .marker {
        font-weight: bold;
        color: #4a9be0;
    }
}

.home-welcome-box-content-developer {
    padding-top: 15px;
}