@font-face {
    font-family: "blogger";
    font-weight: normal;
    src: url(BloggerSans.otf);
}

@font-face {
    font-family: "blogger";
    font-weight: 500;
    src: url(BloggerSans-Medium.otf);
}

@font-face {
    font-family: "blogger";
    font-weight: bold;
    src: url(BloggerSans-Bold.otf);
}

@font-face {
    font-family: "blogger";
    font-weight: 100;
    src: url(BloggerSans-Light.otf);
}

@font-face {
    font-family: "blogger";
    font-style: italic;
    src: url(BloggerSans-Italic.otf);
}